.ut-list-unstyled {
  padding-left: 0;
  list-style: none;
}
*:focus,
.ut-focus {
  outline: 2px dotted #aeb0b5;
  outline-offset: 3px;
}
.ut-brandbar {
  height: 40px;
  text-align: center;
  background-color: #bf5700;
}
.ut-brandbar .ut-logo--shieldtexas {
  display: block;
  max-height: 25px;
}
@media screen and (min-width: 900px) {
  .ut-brandbar .ut-logo--shieldtexas {
    float: right;
  }
}
.ut-brandbar .ut-logo--shieldtexas img {
  height: 25px;
  margin-top: 6px;
}
.ut-btn,
.ut-btn--secondary,
.ut-btn--disabled,
.ut-btn--small,
.ut-btn--large,
#js-nav-toggle {
  display: inline-block;
  margin-bottom: 0.55rem;
  padding: 0.5rem 1rem;
  -webkit-transition: background-color, color, border-color, 0.33s ease-out;
  transition: background-color, color, border-color, 0.33s ease-out;
  text-decoration: none !important;
  color: #fff;
  border: 2px solid #bf5700;
  border-radius: 4px;
  background-color: #bf5700;
  font-family: "LibreFrank", Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.ut-btn:link,
.ut-btn--secondary:link,
.ut-btn--disabled:link,
.ut-btn--small:link,
.ut-btn--large:link,
#js-nav-toggle:link,
.ut-btn:visited,
.ut-btn--secondary:visited,
.ut-btn--disabled:visited,
.ut-btn--small:visited,
.ut-btn--large:visited,
#js-nav-toggle:visited {
  color: #fff;
}
.ut-btn:hover,
.ut-btn--secondary:hover,
.ut-btn--disabled:hover,
.ut-btn--small:hover,
.ut-btn--large:hover,
#js-nav-toggle:hover,
.ut-btn:focus,
.ut-btn--secondary:focus,
.ut-btn--disabled:focus,
.ut-btn--small:focus,
.ut-btn--large:focus,
#js-nav-toggle:focus {
  cursor: pointer;
  text-decoration: none;
  color: #fff !important;
  border: 2px solid #9d4700;
  background-color: #9d4700;
}
.ut-btn:active,
.ut-btn--secondary:active,
.ut-btn--disabled:active,
.ut-btn--small:active,
.ut-btn--large:active,
#js-nav-toggle:active {
  background-color: #ae4f00;
}
.ut-btn--secondary {
  color: #bf5700;
  border-color: #bf5700;
  background-color: #fff;
}
.ut-btn--secondary:link,
.ut-btn--secondary:visited {
  color: #bf5700;
}
.ut-btn--disabled {
  color: #9cadb7;
  border-color: #e6ebed;
  background-color: #e6ebed;
}
.ut-btn--disabled:link,
.ut-btn--disabled:visited {
  color: #9cadb7;
}
.ut-btn--disabled:hover,
.ut-btn--disabled:focus {
  color: #1f262b !important;
  border-color: #e6ebed;
  background-color: #e6ebed;
}
.ut-btn--small {
  padding: 0.25rem 0.75rem;
  text-transform: uppercase;
  font-size: 0.825rem;
  line-height: 1.5;
}
.ut-btn--large {
  padding: 0.75rem 1.25rem;
  text-transform: uppercase;
}
.corner--rounded {
  border-radius: 4px !important;
}
.corner--square {
  border-radius: 0 !important;
}
.corner--pill {
  border-radius: 2rem !important;
}
header.ut-header {
  padding-bottom: 0;
  border-bottom: 1px solid #c4cdd4;
}
@media screen and (min-width: 900px) {
  header.ut-header {
    padding-bottom: 1rem;
  }
}
header.ut-header .site-branding {
  padding: 0.75em 0;
}
@media screen and (min-width: 900px) {
  header.ut-header .site-branding {
    padding: 1.5em 0;
  }
}
header.ut-header .ut-header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header.ut-header .ut-header-wrapper .navbar-brand {
  margin-right: auto;
}
header.ut-header .ut-header-wrapper .ut-main_logo {
  max-height: 35px;
}
@media screen and (min-width: 900px) {
  header.ut-header .ut-header-wrapper .ut-main_logo {
    max-width: 70%;
    max-height: 60px;
  }
}
.ut-search_bar {
  max-width: 100%;
  height: 35px;
  margin: 1em;
  padding: 0;
  border: 1px solid #5e686e;
  background-color: #fff;
}
@media screen and (min-width: 900px) {
  .ut-search_bar {
    position: absolute;
    top: -60px;
    right: 0;
    display: block;
    width: 220px;
    margin: 0;
  }
}
.ut-search_bar form {
  position: relative;
}
.ut-search_bar .input--search {
  width: 100%;
  height: 2.25rem;
  padding-left: 0.5rem;
  border: none;
  background: transparent;
}
.ut-search_bar .input--search::-webkit-input-placeholder {
  font-style: italic;
}
.ut-search_bar .input--search:-ms-input-placeholder {
  font-style: italic;
}
.ut-search_bar .input--search::-ms-input-placeholder {
  font-style: italic;
}
.ut-search_bar .input--search::placeholder {
  font-style: italic;
}
.ut-search_bar .ut-btn--search {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.25rem;
  height: 2.1rem;
  border: none;
  background: none;
  line-height: 2;
}
.ut-search_bar .ut-btn--search:hover {
  cursor: pointer;
  color: #bf5700;
}
.ut-social_bar {
  padding: 0 1em;
}
@media screen and (min-width: 900px) {
  .ut-social_bar {
    position: absolute;
    top: -58px;
    right: 235px;
    display: block;
    padding: 0;
  }
}
.ut-social_bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
@media screen and (min-width: 600px) {
  .ut-social_bar ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media screen and (min-width: 600px) {
  .ut-social_bar ul li {
    margin: 0 10px;
  }
}
@media screen and (min-width: 900px) {
  .ut-social_bar ul li {
    margin: 0 3px;
  }
}
.ut-social_bar svg {
  width: 32px;
  cursor: pointer;

  fill: #333f48;
}
.ut-social_bar svg:hover {
  fill: #1f262b;
}
@media screen and (min-width: 900px) {
  .ut-social_bar svg {
    width: 26px;
  }
}
ul.ut-menu--list,
ul.ut-menu--list-bold {
  margin: 0 0 1.5rem;
  padding-left: 0;
  list-style: none;
  font-size: 0.875rem;
}
ul.ut-menu--list li,
ul.ut-menu--list-bold li {
  margin-bottom: 0.25rem;
}
@media screen and (min-width: 900px) {
  ul.ut-menu--list li,
  ul.ut-menu--list-bold li {
    margin-bottom: 0.75rem;
  }
}
ul.ut-menu--list a,
ul.ut-menu--list-bold a {
  color: #1f262b;
}
footer.ut-footer {
  padding: 3rem 0;
  background-color: #f9fafb;
}
footer.ut-footer .ut-logo--primary {
  max-width: 100%;
  max-height: 62px;
}
footer.ut-footer .text--copyright {
  font-family: "CharisSil", Georgia, serif;
  font-size: 0.75rem;
  font-style: italic;
}
ul.ut-menu--list-bold {
  text-transform: uppercase;
  font-weight: 600;
}
/* General defaults for Hero elements */
.ut-hero .ut-btn--hero {
  display: inline-block;
  padding: 0.5rem 1rem;
  -webkit-transition: background-color, color, 0.33s ease-out;
  transition: background-color, color, 0.33s ease-out;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  background: transparent;
  font-size: 0.75rem;
  font-weight: 600;
}
/* Hero with Orange Box similar to core site (i.e., Style 1) */
.hero--photo-orange-insert .hero-content {
  background: #bf5700;
}
@media screen and (min-width: 900px) {
  .hero--photo-orange-insert .hero-content {
    background: #bf5700;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(191, 87, 0, 0.5)), color-stop(82%, rgba(191, 87, 0, 0.9)), to(rgba(191, 87, 0, 0.9)));
    background: linear-gradient(to bottom, rgba(191, 87, 0, 0.5) 0%, rgba(191, 87, 0, 0.9) 82%, rgba(191, 87, 0, 0.9) 100%);
  }
}
.hero--photo-orange-insert .hero-callout {
  color: #fff;
}
.hero--photo-orange-insert .hero-headline {
  margin-bottom: 0.5rem;
  color: #fff;
  font-size: 2.0625rem;
  font-weight: 600;
}
@media screen and (min-width: 900px) {
  .hero--photo-orange-insert .hero-headline {
    font-size: 2.4375rem;
  }
}
.hero--photo-orange-insert .hero-subhead {
  margin-bottom: 0.5rem;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.25;
}
.hero--photo-orange-insert .ut-btn--hero {
  text-transform: uppercase;
}
@media screen and (min-width: 900px) {
  .hero--photo-orange-insert .ut-btn--hero {
    font-size: 1rem;
  }
  .hero--photo-orange-insert .hero-subhead {
    font-size: 1.25rem;
  }
}
/* Floating content area ontop of image (i.e., Style 2) */
.ut-hero.hero--photo-gradient .hero-callout {
  padding: 1rem;
}
@media screen and (min-width: 1200px) {
  .ut-hero.hero--photo-gradient .hero-callout {
    padding: 1.5rem 1.25rem;
  }
}
.ut-hero.hero--photo-gradient .hero-headline {
  color: #fff;
  font-size: 2.0625rem;
  font-weight: 600;
  line-height: 1.25;
}
@media screen and (min-width: 1200px) {
  .ut-hero.hero--photo-gradient .hero-headline {
    font-size: 2.4375rem;
    line-height: 2.625;
  }
}
.ut-hero .ut-btn--hero:hover,
.ut-hero .ut-btn--hero:focus {
  cursor: pointer;
  text-decoration: none;
  color: #bf5700;
  background-color: #fff;
}
/* Hero with pinned overlay that is width of the max content container (Style 3) */
@media screen and (min-width: 1200px) {
  .ut-hero.hero--photo-white-notch .hero-callout {
    padding: 1.5rem 1.25rem;
  }
}
.ut-hero.hero--photo-white-notch .hero-headline {
  padding-bottom: 5px;
  font-size: 1.6875rem;
  font-weight: 600;
  line-height: 1.25;
}
@media screen and (min-width: 1200px) {
  .ut-hero.hero--photo-white-notch .hero-headline {
    padding-bottom: 0;
    font-size: 1.9375rem;
  }
}
.ut-hero.hero--photo-white-notch .hero-subhead {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.25;
}
@media screen and (min-width: 1200px) {
  .ut-hero.hero--photo-white-notch .hero-subhead {
    font-size: 1.25rem;
  }
}
/* Centered Image with blue bar (i.e., Style 4) */
.ut-hero.hero--blue-bar .hero-headline {
  color: #fff;
  font-size: 1.6875rem;
  font-weight: 600;
  line-height: 1.25;
}
.ut-hero.hero--blue-bar .hero-subhead {
  margin-bottom: 0.5rem;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.25;
}
@media screen and (min-width: 900px) {
  .ut-hero.hero--blue-bar .hero-headline {
    font-size: 1.9375rem;
  }
  .ut-hero.hero--blue-bar .hero-subhead {
    font-size: 1.25rem;
  }
  .ut-hero .ut-btn--hero {
    float: right;
    font-size: 1rem;
  }
}
.ut-photo-content-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 20px;
}
@media screen and (min-width: 600px) {
  .ut-photo-content-area {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 40px;
  }
}
.ut-photo-content-area .photo-wrapper {
  margin-bottom: 10px;
}
@media screen and (min-width: 600px) {
  .ut-photo-content-area .photo-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    text-align: center;
  }
}
.ut-photo-content-area .photo-wrapper .caption {
  margin: auto;
  text-align: left;
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.25rem;
}
@media screen and (min-width: 600px) {
  .ut-photo-content-area .photo-wrapper .caption {
    max-width: 80%;
  }
}
@media screen and (min-width: 600px) {
  .ut-photo-content-area .content-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}
.ut-photo-content-area .ut-headline {
  margin-bottom: 10px;
}
.ut-photo-content-area ul.link-list {
  padding-left: 0;
  list-style: none;
}
.ut-photo-content-area ul.link-list li {
  margin-bottom: 9px;
}
@media screen and (min-width: 600px) {
  .ut-photo-content-area .photo-wrapper img {
    max-width: 80%;
  }
}
.ut-photo-content-area .content-wrapper h3 {
  padding-top: 0;
}
.layout--utexas-66-33--container .layout__region--sidebar .ut-photo-content-area {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.layout--utexas-66-33--container .layout__region--sidebar .ut-photo-content-area img {
  width: 100%;
}
.layout--utexas-66-33--container .layout__region--sidebar .ut-photo-content-area .caption {
  width: 100%;
}
.utexas-resource {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 0 20px 0;
  border: 1px solid #f2f1ed;
  background-color: #fbfbf9;
}
@media screen and (min-width: 900px) {
  .utexas-resource {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.utexas-resource .image-wrapper {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}
.utexas-resource .image-wrapper .ut-img--fluid {
  width: 100%;
  height: auto;
}
.utexas-resource .data-wrapper {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  padding: 20px;
}
.utexas-resource .link-list {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.utexas-resource .link-list li {
  padding-bottom: 9px;
}
.utexas-resource .ut-headline {
  padding-top: 0;
  padding-bottom: 10px;
}
.utexas-resource picture img {
  width: 100%;
}
.layout--utexas-66-33--container .layout__region--sidebar .utexas-resource {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.utexas-featured-highlight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 20px 0;
  padding: 60px 10px;
  color: #000;
  background-color: #d6d2c4;
}
@media screen and (min-width: 900px) {
  .utexas-featured-highlight {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.utexas-featured-highlight .image-wrapper {
  min-width: auto;
  margin-bottom: 1rem;
}
@media screen and (min-width: 900px) {
  .utexas-featured-highlight .image-wrapper {
    min-width: 250px;
  }
}
@media screen and (min-width: 1200px) {
  .utexas-featured-highlight .image-wrapper {
    min-width: 330px;
  }
}
.utexas-featured-highlight .content-wrapper {
  padding-left: 30px;
}
.utexas-featured-highlight .content-wrapper .ut-date {
  margin-bottom: 12px;
  font-style: italic;
}
.utexas-featured-highlight .content-wrapper .ut-headline {
  padding-top: 0;
  font-size: 2rem;
}
.utexas-featured-highlight .content-wrapper .ut-headline a {
  color: #000;
}
.layout--utexas-66-33--container .layout__region--sidebar .utexas-featured-highlight {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.layout--utexas-66-33--container .layout__region--sidebar .utexas-featured-highlight .content-wrapper {
  padding: 0 1rem;
}
@media screen and (min-width: 900px) {
  .layout--utexas-66-33--container .layout__region--sidebar .utexas-featured-highlight .image-wrapper {
    min-width: auto;
    max-width: none;
  }
}
.layout--utexas-50-50--container .layout__region--left .utexas-featured-highlight,
.layout--utexas-50-50--container .layout__region--right .utexas-featured-highlight {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.layout--utexas-50-50--container .layout__region--left .utexas-featured-highlight .content-wrapper,
.layout--utexas-50-50--container .layout__region--right .utexas-featured-highlight .content-wrapper {
  padding: 0 1rem;
}
@media screen and (min-width: 900px) {
  .layout--utexas-50-50--container .layout__region--left .utexas-featured-highlight .image-wrapper,
  .layout--utexas-50-50--container .layout__region--right .utexas-featured-highlight .image-wrapper {
    min-width: auto;
    max-width: none;
  }
}
@media screen and (min-width: 600px) {
  .image-wrapper {
    max-width: none;
    margin-bottom: 1rem;
  }
}
.ut-flex-content-area-wrapper .image-wrapper {
  margin-bottom: 10px;
}
.ut-flex-content-area-wrapper .ut-flex-content-area {
  margin-bottom: 20px;
}
.ut-flex-content-area-wrapper .link-list {
  padding-left: 0;
  list-style: none;
}
.ut-flex-content-area-wrapper .link-list li {
  margin-bottom: 9px;
}
.ut-flex-content-area-wrapper .ut-headline {
  padding: 0.5rem 0;
}
.utexas-quick-links .ut-headline {
  margin-bottom: 15px;
}
@media screen and (min-width: 900px) {
  .utexas-quick-links .ut-headline {
    margin: 0 0 0.5rem;
    font-size: 1.125rem;
    line-height: 1.625;
  }
}
@media screen and (min-width: 1200px) {
  .utexas-quick-links .ut-headline {
    font-size: 1.25rem;
    line-height: 1.6875rem;
  }
}
.utexas-quick-links .ut-copy {
  font-size: 1rem;
}
.utexas-quick-links .link-list {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.utexas-quick-links .link-list li {
  padding-bottom: 30px;
}
.utexas-quick-links .link-list a.ut-link {
  font-weight: 500;
}
@media screen and (min-width: 1200px) {
  .ut-promo-list-wrapper.two-column-responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .ut-promo-list-wrapper.two-column-responsive .utexas-promo-list {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 45%;
    flex: 0 1 45%;
    margin: 0 20px 20px 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebeced;
  }
  .ut-promo-list-wrapper.two-column-responsive .utexas-promo-list + .utexas-promo-list {
    padding-top: 0;
    border-top: none;
  }
  .ut-promo-list-wrapper.two-column-responsive .utexas-promo-list.column-bottom {
    border-bottom: none;
  }
}
.ut-promo-list-wrapper .utexas-promo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
  padding-bottom: 20px;
}
.ut-promo-list-wrapper .utexas-promo-list + .utexas-promo-list {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #ebeced;
}
.ut-promo-list-wrapper .utexas-promo-list .image-wrapper {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 64px;
  flex: 0 0 64px;
  margin-right: 12px;
  margin-bottom: 0;
}
@media screen and (min-width: 900px) {
  .ut-promo-list-wrapper .utexas-promo-list .image-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 68px;
    flex: 0 0 68px;
  }
}
@media screen and (min-width: 1200px) {
  .ut-promo-list-wrapper .utexas-promo-list .image-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 85px;
    flex: 0 0 85px;
  }
}
.ut-promo-list-wrapper .utexas-promo-list .image-wrapper img {
  width: 100%;
}
.ut-promo-list-wrapper .utexas-promo-list .ut-copy p:last-child {
  margin-bottom: 0;
}
.ut-promo-list-wrapper .utexas-promo-list .ut-headline {
  padding-top: 0;
  font-weight: 500;
}
.ut-promo-list-wrapper .utexas-promo-list a > .ut-headline {
  color: #bf5700;
}
@media screen and (min-width: 600px) {
  .layout--utexas-66-33--container .layout__region--sidebar .ut-promo-list-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .layout--utexas-66-33--container .layout__region--sidebar .ut-promo-list-wrapper .utexas-promo-list {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .layout--utexas-66-33--container .layout__region--sidebar .ut-promo-list-wrapper .image-wrapper {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .layout--utexas-66-33--container .layout__region--sidebar .ut-promo-list-wrapper .ut-copy {
    margin-top: 15px;
  }
}
@media screen and (min-width: 900px) {
  .layout--utexas-66-33--container .layout__region--sidebar .ut-promo-list-wrapper {
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
    -ms-flex-direction: inherit;
    flex-direction: inherit;
  }
  .layout--utexas-66-33--container .layout__region--sidebar .ut-promo-list-wrapper .utexas-promo-list {
    -webkit-box-flex: inherit;
    -ms-flex: inherit;
    flex: inherit;
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
    -ms-flex-direction: inherit;
    flex-direction: inherit;
  }
  .layout--utexas-66-33--container .layout__region--sidebar .ut-promo-list-wrapper .image-wrapper {
    margin-right: inherit;
    margin-bottom: inherit;
  }
  .layout--utexas-66-33--container .layout__region--sidebar .ut-promo-list-wrapper .ut-copy {
    margin-top: inherit;
  }
}
.utexas-promo-unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.75rem;
  padding: 0.75rem;
  border: 1px solid #f2f1ed;
  background-color: #f9fafb;
}
@media screen and (min-width: 900px) {
  .utexas-promo-unit {
    margin-bottom: 1rem;
    padding: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .utexas-promo-unit {
    margin-bottom: 1.25rem;
    padding: 1.25rem;
  }
}
.utexas-promo-unit .image-wrapper {
  margin-right: 1rem;
  margin-bottom: 0.75rem;
}
@media screen and (min-width: 1200px) {
  .utexas-promo-unit .image-wrapper {
    margin-right: 1.25rem;
  }
}
.utexas-promo-unit .image-wrapper.landscape-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 106px;
  flex: 0 0 106px;
}
@media screen and (min-width: 900px) {
  .utexas-promo-unit .image-wrapper.landscape-image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 176px;
    flex: 0 0 176px;
  }
}
@media screen and (min-width: 1200px) {
  .utexas-promo-unit .image-wrapper.landscape-image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 220px;
    flex: 0 0 220px;
  }
}
.utexas-promo-unit .image-wrapper.portrait-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 72px;
  flex: 0 0 72px;
}
@media screen and (min-width: 900px) {
  .utexas-promo-unit .image-wrapper.portrait-image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 120px;
    flex: 0 0 120px;
  }
}
@media screen and (min-width: 1200px) {
  .utexas-promo-unit .image-wrapper.portrait-image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 150px;
    flex: 0 0 150px;
  }
}
.utexas-promo-unit .image-wrapper.square-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 67px;
  flex: 0 0 67px;
}
@media screen and (min-width: 900px) {
  .utexas-promo-unit .image-wrapper.square-image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 112px;
    flex: 0 0 112px;
  }
}
@media screen and (min-width: 1200px) {
  .utexas-promo-unit .image-wrapper.square-image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 140px;
    flex: 0 0 140px;
  }
}
.utexas-promo-unit p {
  margin-bottom: 0.75rem;
}
@media screen and (min-width: 900px) {
  .utexas-promo-unit--wrapper.sidebar-display .utexas-promo-unit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .utexas-promo-unit--wrapper.sidebar-display .image-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-right: 0;
  }
  .utexas-promo-unit--wrapper.sidebar-display .ut-img--fluid {
    width: 100%;
    margin-bottom: 0.75rem;
  }
}
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: "LibreFrank", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5625;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.ut-font--serif {
  font-family: "CharisSil", Georgia, serif;
}
a:hover,
a:focus {
  color: #9d4700;
}
a:active {
  color: #ae4f00;
}
a,
a:link,
a:visited {
  color: #bf5700;
}
p a,
p
a:link,
p
a:visited {
  text-decoration: underline;
}
h1,
.ut-h1 {
  font-size: 3.0625rem;
  font-weight: 600;
  line-height: 1.143;
}
h2,
.ut-h2 {
  font-size: 2.4375rem;
  font-weight: 500;
  line-height: 1.154;
}
h3,
.ut-h3 {
  font-size: 1.5625rem;
  font-weight: 500;
  line-height: 1.25;
}
h4,
.ut-h4 {
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.25;
}
h5,
.ut-h5 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5625;
}
h6,
.ut-h6 {
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.385;
}
h1,
h2,
h3,
h4,
h5,
h6,
.ut-h1,
.ut-h2,
.ut-h3,
.ut-h4,
.ut-h5,
.ut-h6 {
  color: #333f48;
}
p {
  margin-bottom: 1.5em;
}
dfn,
cite,
em,
i {
  font-style: italic;
}
blockquote {
  margin: 0 1.5em;
  color: #3e4549;
  border-top: 1px solid #3e4549;
  border-bottom: 1px solid #3e4549;
  font-size: 2rem;
}
address {
  margin: 0 0 1.5em;
}
pre {
  overflow: auto;
  max-width: 100%;
  padding: 1em;
  font-family: "Courier 10 Pitch", Courier, monospace;
  line-height: 1.6;
}
code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 0.9375rem;
}
abbr,
acronym {
  cursor: help;
  border-bottom: 1px dotted #f9fafb;
}
mark,
ins {
  text-decoration: none;
  background: #e6ebed;
}
big {
  font-size: 125%;
}
small {
  line-height: 1.2;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1.75rem;
}
.ut-copy--intro {
  color: #333f48;
  font-size: 1.25rem;
  line-height: 1.25;
}
@media screen and (min-width: large) {
  article {
    word-wrap: break-word;
  }
  article p,
  article ul,
  article ol,
  article dt {
    font-size: 1.125rem;
  }
}
.ut-headline,
.ut-headline--underline {
  margin: 0 0 0.25rem;
  color: #333f48;
  font-size: 1.0625rem;
  font-weight: 600;
  line-height: 1.47;
}
.ut-headline a {
  color: #333f48;
}
@media screen and (min-width: medium) {
  .ut-headline {
    margin: 0 0 0.5rem;
    font-size: 1.125rem;
    line-height: 1.625;
  }
}
@media screen and (min-width: large) {
  .ut-headline {
    font-size: 1.25rem;
    line-height: 1.6875rem;
  }
}
.ut-headline--underline {
  margin: 0 0 1.25rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #005f86;
}
.ut-headline--poster {
  text-transform: uppercase;
  font-size: 2.0625rem;
  font-weight: 900;
  line-height: 0.925;
}
@media screen and (min-width: medium) {
  .ut-headline--poster {
    font-size: 3.0625rem;
  }
}
a.ut-cta-link {
  letter-spacing: 0.35px;
  text-transform: uppercase;
  font-size: 0.825rem;
  font-weight: 700;
}
a.ut-cta-link--darker {
  color: #9d4700;
}
a.ut-link {
  letter-spacing: 0.35px;
  font-size: inherit;
}
a.ut-link--darker {
  color: #9d4700;
}
.ut-copy {
  font-size: 1.25rem;
  line-height: 1.25;
}
.ut-copy--intro {
  color: #9cadb7;
}
.ut-img--fluid {
  max-width: 100%;
  height: auto;
}
img {
  max-width: 100%;
  height: auto;
}
.utexas-image-link img,
.ut-flex-content-area img {
  width: 100%;
}
.main-menu__list {
  position: relative;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 900px) {
  .main-menu__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-right: -10px;
    margin-left: -10px;
  }
}
.main-menu__list-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-menu__list-item.breaks-two-lines {
  -ms-flex-preferred-size: 1%;
  flex-basis: 1%;
}
@media screen and (min-width: 900px) {
  .main-menu__list-item {
    display: inline-block;
  }
}
.main-menu__list-item .main-menu__link {
  position: relative;
  display: block;
  margin: 0;
  padding: 0.5em 1em;
  text-transform: uppercase;
  color: #1f262b;
  border: 1px solid transparent;
  font-size: 0.875rem;
  font-weight: 600;
}
@media (max-width: 899px) {
  .main-menu__list-item .main-menu__link {
    width: calc(100% - 70px);
  }
  .main-menu__list-item .main-menu__link.add-border {
    border-top: 1px solid #c2c5c8;
    border-left: 1px solid #c2c5c8;
  }
}
@media screen and (min-width: 900px) {
  .main-menu__list-item .main-menu__link {
    display: inline-block;
    margin: 1px 0 -1px 0;
    -webkit-transition: border, color, 100ms ease-in-out;
    transition: border, color, 100ms ease-in-out;
    background-color: #fff;
  }
}
.main-menu__list-item .main-menu__link.open {
  z-index: 3;
  border-bottom: none;
}
@media screen and (min-width: 900px) {
  .main-menu__list-item .main-menu__link.open {
    border: 1px solid #c2c5c8;
  }
}
.main-menu__list-item .main-menu__link:hover,
.main-menu__list-item .main-menu__link:focus,
.main-menu__list-item .main-menu__link.open {
  text-decoration: none;
  text-decoration: underline;
  color: #bf5700;
}
@media screen and (min-width: 900px) {
  .main-menu__list-item .main-menu__link:hover,
  .main-menu__list-item .main-menu__link:focus,
  .main-menu__list-item .main-menu__link.open {
    z-index: 3;
    margin-top: 1px;
    border-bottom: 1px solid transparent;
  }
}
@media (max-width: 899px) {
  .main-menu__list-item.menu-item-has-children > .main-menu__link {
    border-right: 1px solid #c2c5c8;
  }
}
@media screen and (min-width: 900px) {
  .main-menu__list-item.menu-item-has-children > .main-menu__link {
    padding-right: 1.75rem;
  }
  .main-menu__list-item.menu-item-has-children > .main-menu__link:before {
    position: absolute;
    right: 1px;
    bottom: 6px;
    width: 20px;
    height: 100%;
    content: "";
    -webkit-transition: bottom 100ms ease-in;
    transition: bottom 100ms ease-in;
    background-image: url(../images/chevron-down.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
  }
  .main-menu__list-item.menu-item-has-children > .main-menu__link.hover:before,
  .main-menu__list-item.menu-item-has-children > .main-menu__link.open:before {
    bottom: 0;
  }
}
.main-menu__list-item .main-menu__link--subnav {
  position: relative;
  display: block;
  margin: 0;
  padding: 0 25px;
  -webkit-transition: border, color, 0.33s ease-in-out;
  transition: border, color, 0.33s ease-in-out;
  text-transform: capitalize;
  color: #1f262b;
  font-size: 0.875rem;
  font-weight: 600;
}
@media screen and (min-width: 900px) {
  .main-menu__list-item .main-menu__link--subnav {
    display: inline-block;
    margin: 1px 0 0 0;
    padding: 0.5em 1em;
    background-color: #fff;
  }
}
@media screen and (min-width: 900px) {
  .main-menu__list-item .main-menu__link--subnav:hover,
  .main-menu__list-item .main-menu__link--subnav:focus,
  .main-menu__list-item .main-menu__link--subnav.open {
    outline-offset: 0;
  }
}
.main-menu__list-item i.subnav-trigger {
  position: relative;
  z-index: 100;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 70px;
  cursor: pointer;
}
.main-menu__list-item i.subnav-trigger:before {
  width: 35px;
  height: 35px;
  content: "";
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  background-image: url(../images/chevron-down.svg);
  background-repeat: no-repeat;
  background-position: 5px 4px;
  background-size: contain;
}
.main-menu__list-item i.subnav-trigger.icon--open {
  border-top: 1px solid #c2c5c8;
  border-right: 1px solid #c2c5c8;
}
.main-menu__list-item i.subnav-trigger.icon--open:before {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
@media screen and (min-width: 900px) {
  .main-menu__list-item i.subnav-trigger {
    display: none;
  }
}
@media (max-width: 899px) {
  .sub-nav-wrapper {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}
.sub-nav-wrapper .main-menu__list--subnav {
  position: absolute;
  z-index: 2;
  display: none;
  width: 240px;
  max-height: 500px;
  padding: 0.5rem 1rem;
  list-style: none;
  -webkit-transition: background-color, color, 0.33s;
  transition: background-color, color, 0.33s;
  border: 1px solid #c2c5c8;
  background-color: #fff;
}
.sub-nav-wrapper .main-menu__list--subnav .main-menu__link--subnav {
  display: block;
  padding: 0.5rem 0;
  text-transform: capitalize;
}
@media (max-width: 899px) {
  .sub-nav-wrapper .main-menu__list--subnav {
    position: relative;
    top: 0;
    width: 100%;
    max-height: 0;
    padding: 0 25px;
    background-color: #f2f1ed;
  }
}
.sub-nav-wrapper .main-menu__list--subnav.open {
  display: block;
  max-height: 500px;
}
@media screen and (min-width: 900px) {
  .sub-nav-wrapper .main-menu__list-item--subnav {
    display: block;
    margin: 0;
    padding: 3px 0;
    list-style-type: none;
  }
  .sub-nav-wrapper.overflowing .main-menu__list--subnav {
    right: 0;
  }
  .sub-nav-wrapper.one-column .main-menu__list--subnav {
    width: 240px;
  }
  .sub-nav-wrapper.one-column .main-menu__list--subnav .main-menu__list-item--subnav {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }
  .sub-nav-wrapper.two-columns .main-menu__list--subnav {
    width: 400px;
  }
  .sub-nav-wrapper.two-columns .main-menu__list--subnav .main-menu__list-item--subnav {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 48%;
    flex: 0 1 48%;
  }
  .sub-nav-wrapper.three-columns .main-menu__list--subnav {
    width: 500px;
  }
  .sub-nav-wrapper.three-columns .main-menu__list--subnav .main-menu__list-item--subnav {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 32%;
    flex: 0 1 32%;
  }
  .sub-nav-wrapper.open .main-menu__list--subnav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-height: 500px;
  }
}
#js-nav-toggle {
  display: inline-block;
  width: 6.5rem;
  margin-bottom: 0;
  border-radius: 0;
}
@media screen and (min-width: 900px) {
  #js-nav-toggle {
    display: none;
  }
}
.block__ut-social-links--items svg {
  width: 22px;

  fill: #333f48;
}
.block__ut-social-links--items svg:hover {
  fill: #1f262b;
}
.ut-parent_entity {
  position: static;
}
@media screen and (min-width: 900px) {
  .ut-parent_entity {
    position: absolute;
    top: -54px;
  }
}
.ut-parent_entity a {
  color: #333f48;
  font-family: "LibreFrank", Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 900px) {
  .ut-parent_entity a {
    color: #fff;
    font-family: "CharisSil", Georgia, serif;
    font-size: 14px;
  }
}
.ut-header,
.ut-footer {
  max-width: 100%;
  height: auto;
}
.ut-header .ut-logo--main {
  max-height: 40px;
}
@media screen and (min-width: 900px) {
  .ut-header .ut-logo--main {
    max-height: 60px;
  }
}
.ut-footer .ut-logo--main {
  max-height: 60px;
}
.short_logo .ut-logo--main {
  max-height: 40px;
}
@media screen and (min-width: 900px) {
  .short_logo .ut-logo--main {
    max-height: 60px;
  }
}
.tall_logo #ut-main_menu-wrapper {
  margin-top: 20px;
}
@media screen and (min-width: 900px) {
  .tall_logo #ut-main_menu-wrapper {
    margin-top: 0;
  }
}
.tall_logo nav {
  margin-top: 0;
}
@media screen and (min-width: 900px) {
  .tall_logo nav {
    margin-top: 30px;
  }
}
.tall_logo .ut-logo--main {
  max-height: 60px;
}
@media screen and (min-width: 900px) {
  .tall_logo .ut-logo--main {
    max-height: 100px;
  }
}
ul.header-menu__list {
  margin-bottom: 0;
}
ul.header-menu__list .header-menu__list-item {
  display: block;
  margin-bottom: 10px;
}
@media screen and (min-width: 600px) {
  ul.header-menu__list .header-menu__list-item {
    display: inline-block;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 600px) {
  ul.header-menu__list .header-menu__list-item + .header-menu__list-item {
    margin-left: 5px;
  }
}
ul.header-menu__list .header-menu__link {
  padding: 5px;
}
div.search-block-form div.contextual {
  display: none !important;
}
.ut-search-form {
  width: 100%;
  height: 35px;
  margin: 0;
  margin-left: 0;
  padding: 0;
  border: 1px solid #5e686e;
  background-color: #fff;
}
@media screen and (min-width: 900px) {
  .ut-search-form {
    width: 218px;
    margin-left: auto;
  }
}
.ut-search-form form {
  position: relative;
}
.ut-search-form input[type="search"] {
  width: 100%;
  height: 2.25rem;
  padding-left: 0.5rem;
  border: none;
  background: transparent;
}
@media screen and (min-width: 900px) {
  .ut-search-form input[type="search"] {
    width: 218px;
  }
}
.ut-search-form input[type="search"]::-webkit-input-placeholder {
  font-style: italic;
}
.ut-search-form input[type="search"]:-ms-input-placeholder {
  font-style: italic;
}
.ut-search-form input[type="search"]::-ms-input-placeholder {
  font-style: italic;
}
.ut-search-form input[type="search"]::placeholder {
  font-style: italic;
}
.ut-search-form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.25rem;
  height: 2.1rem;
  color: transparent;
  border: none;
  background: none;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 20px;
  line-height: 2;
}
.ut-search-form input[type="submit"]:hover {
  cursor: pointer;
}
#block-breadcrumbs {
  margin: 1rem 0;
}
#block-breadcrumbs ul {
  padding-left: 0;
  font-size: 0;
}
#block-breadcrumbs ul li {
  display: inline-block;
  padding: 0 12px;
  padding: 8px 0 10px 0;
  list-style: none;
  border-top: 1px solid #e1ddd2;
  border-bottom: 1px solid #e1ddd2;
  background-color: #fff;
  font-size: 11px;
}
#block-breadcrumbs ul li::before {
  position: relative;
  top: 1px;
  margin: 0 8px 0 13px;
  content: ">";
  color: #aaa;
}
#block-breadcrumbs ul li:first-child {
  padding-left: 15px;
  border-left: 1px solid #e1ddd2;
}
#block-breadcrumbs ul li:first-child::before {
  margin: 0;
  content: "";
}
#block-breadcrumbs ul li:last-child {
  padding-right: 15px;
  border-right: 1px solid #e1ddd2;
}
#block-breadcrumbs ul li a {
  color: #bf5700;
}
@media screen and (min-width: 900px) {
  header.ut-header {
    padding-top: 1rem;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 900px) {
  header.ut-header .region-primary-menu {
    margin: 0;
    margin-bottom: 1px;
  }
}
header.ut-header .region-header-primary {
  padding: 10px 0;
}
@media screen and (min-width: 900px) {
  header.ut-header .region-header-primary {
    padding: 0;
  }
}
header.ut-header .ut-header-wrapper {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (min-width: 900px) {
  header.ut-header .ut-header-wrapper {
    position: absolute;
    z-index: 1;
  }
}
header.ut-header .header-flex-wrapper {
  margin-top: 20px;
}
@media screen and (min-width: 900px) {
  header.ut-header .header-flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    min-height: 80px;
    margin-top: unset;
  }
}
header.ut-header .region-header-secondary,
header.ut-header .region-header-tertiary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media screen and (min-width: 900px) {
  header.ut-header .region-header-secondary,
  header.ut-header .region-header-tertiary {
    margin-left: 20px;
    padding: 0;
  }
}
header.ut-header .region-header-secondary > div,
header.ut-header .region-header-secondary > nav,
header.ut-header .region-header-tertiary > div,
header.ut-header .region-header-tertiary > nav {
  margin-right: auto;
  margin-bottom: 20px;
}
@media screen and (min-width: 900px) {
  header.ut-header .region-header-secondary > div,
  header.ut-header .region-header-secondary > nav,
  header.ut-header .region-header-tertiary > div,
  header.ut-header .region-header-tertiary > nav {
    margin-right: unset;
    margin-left: auto;
  }
}
header.ut-header #ut-main_menu-wrapper {
  -webkit-transition: background-color, color, 0.25s;
  transition: background-color, color, 0.25s;
}
@media (max-width: 899px) {
  header.ut-header #ut-main_menu-wrapper {
    position: absolute;
    z-index: -100;
    top: 60px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-flow: column-reverse;
    width: 100%;
    padding: 1rem;
    opacity: 0;
    border-top: 1px solid #c4cdd4;
    border-bottom: 1px solid #c4cdd4;
    background-color: #fbfbf9;

    -ms-flex-flow: column-reverse;
  }
  header.ut-header #ut-main_menu-wrapper.active {
    opacity: 1;
  }
}
@media (min-width: 901px) {
  header.ut-header #ut-main_menu-wrapper {
    position: relative;
  }
}
header.ut-header #ut-main_menu-wrapper.active {
  z-index: 100;
}
footer.ut-footer .block {
  margin-bottom: 20px;
}
footer.ut-footer .required-links__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
footer.ut-footer .required-links__list-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 48%;
  flex: 0 1 48%;
  margin-bottom: 15px;
}
footer.ut-footer .footer-menu__list-item {
  margin-bottom: 20px;
}
footer.ut-footer .footer-textarea {
  padding-left: 10px;
  border-left: 1px solid #c4cdd4;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
#block-tabs {
  margin: 1.5rem 0;
}
#block-tabs .tabs a:focus,
#block-tabs .tabs a:hover {
  background-color: #f5f5f5;
}
#block-tabs ul.tabs.primary {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  margin: 5px;
  padding: 0 0 3px 1em;
  list-style: none;
  white-space: nowrap;
  border-collapse: collapse;
  border-bottom: 1px solid #bbb;
  line-height: normal;
}
#block-tabs ul.tabs.primary li {
  display: inline-block;
}
#block-tabs ul.tabs.primary li a {
  height: auto;
  margin-right: 0.5em;
  padding: 4px 1em 3px;
  text-decoration: none;
  color: #333;
  border-width: 1px;
  border-style: solid solid none solid;
  border-color: #bbb;
  border-radius: 3px 3px 0 0;
  background-color: #ddd;
}
#block-tabs ul.tabs.primary li a:hover,
#block-tabs ul.tabs.primary li a:focus {
  text-decoration: underline;
}
#block-tabs ul.tabs.primary li a.is-active {
  border: 1px solid #bbb;
  border-bottom: 1px solid #fff;
  background-color: #fff;
}
#block-tabs ul.tabs.secondary {
  overflow: hidden;
  margin: 5px;
  padding: 0.5em 0;
  border-bottom: none;
}
#block-tabs ul.tabs.secondary li {
  /* LTR */
  display: block;
  float: left;
  /* LTR */
  margin: 0;
  padding: 0 1em;
  border-right: 1px solid #ccc;
}
#block-tabs [dir="rtl"] ul.tabs.secondary li {
  float: right;
  border-right: none;
  border-left: 1px solid #ccc;
}
#block-tabs ul.tabs.secondary li:last-child {
  border-right: none;
  /* LTR */
}
#block-tabs ul.tabs.secondary li:first-child {
  padding-left: 0;
  /* LTR */
}
#block-tabs [dir="rtl"] ul.tabs.secondary li:last-child {
  border-left: none;
}
#block-tabs [dir="rtl"] ul.tabs.secondary li:first-child {
  padding-right: 0;
}
#block-tabs ul.tabs.secondary li a {
  display: inline;
  padding: 0.25em 0.5em;
  text-decoration: none;
}
#block-tabs ul.tabs.secondary li a.is-active {
  border-bottom: none;
  border-radius: 5px;
  background: #f2f2f2;
}
/**
 * @file
 * Styles for link buttons and action links.
 */
.action-links {
  margin: 1em 0;
  padding: 0;
  list-style: none;
}
[dir="rtl"] .action-links {
  /* This is required to win over specificity of [dir="rtl"] ul */
  margin-right: 0;
}
.action-links li {
  display: inline-block;
  margin: 0 0.3em;
  list-style: none;
}
.action-links li:first-child {
  margin-left: 0;
  /* LTR */
}
[dir="rtl"] .action-links li:first-child {
  margin-right: 0;
  margin-left: 0.3em;
}
.button-action {
  display: inline-block;
  padding: 0.2em 0.5em 0.3em;
  text-decoration: none;
  line-height: 160%;
}
.button-action:before {
  margin-left: -0.1em;
  /* LTR */
  padding-right: 0.2em;
  content: "+";
  font-weight: 900;
  /* LTR */
}
[dir="rtl"] .button-action:before {
  margin-right: -0.1em;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0.2em;
}
.ut-admin-button {
  display: inline-block;
  padding: 0.25em 1.063em;
  cursor: pointer;
  text-align: center;
  color: #3a3a3a;
  border: 1px solid #e4e4e4;
  border-right-color: #d2d2d2;
  border-bottom-color: #b4b4b4;
  border-left-color: #d2d2d2;
  border-radius: 1em;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e8e8e8));
  background-image: linear-gradient(to bottom, #f3f3f3, #e8e8e8);
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 0.929em;
  font-weight: normal;
  line-height: normal;
}
.ut-admin-button.is-disabled:hover,
.ut-admin-button.is-disabled:active,
.ut-admin-button.is-disabled:focus {
  cursor: default;
  color: #717171;
  border-color: #bbb;
  background: #ededed;
}
.ut-admin-button:hover,
.ut-admin-button:active,
.ut-admin-button:focus {
  text-decoration: none;
  color: #5a5a5a;
  background: #dedede;
}
