.ut-list-unstyled {
  padding-left: 0;
  list-style: none;
}
*:focus,
.ut-focus {
  outline: 2px dotted #aeb0b5;
  outline-offset: 3px;
}
.ut-brandbar {
  height: 40px;
  text-align: center;
  background-color: #bf5700;
}
.ut-brandbar .ut-logo--shieldtexas {
  display: block;
  max-height: 25px;
}
@media screen and (min-width: 900px) {
  .ut-brandbar .ut-logo--shieldtexas {
    float: right;
  }
}
.ut-brandbar .ut-logo--shieldtexas img {
  height: 25px;
  margin-top: 6px;
}
.ut-btn,
.ut-btn--secondary,
.ut-btn--disabled,
.ut-btn--small,
.ut-btn--large,
#js-nav-toggle {
  display: inline-block;
  margin-bottom: 0.55rem;
  padding: 0.5rem 1rem;
  -webkit-transition: background-color, color, border-color, 0.33s ease-out;
  transition: background-color, color, border-color, 0.33s ease-out;
  text-decoration: none !important;
  color: #fff;
  border: 2px solid #bf5700;
  border-radius: 4px;
  background-color: #bf5700;
  font-family: "LibreFrank", Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.ut-btn:link,
.ut-btn--secondary:link,
.ut-btn--disabled:link,
.ut-btn--small:link,
.ut-btn--large:link,
#js-nav-toggle:link,
.ut-btn:visited,
.ut-btn--secondary:visited,
.ut-btn--disabled:visited,
.ut-btn--small:visited,
.ut-btn--large:visited,
#js-nav-toggle:visited {
  color: #fff;
}
.ut-btn:hover,
.ut-btn--secondary:hover,
.ut-btn--disabled:hover,
.ut-btn--small:hover,
.ut-btn--large:hover,
#js-nav-toggle:hover,
.ut-btn:focus,
.ut-btn--secondary:focus,
.ut-btn--disabled:focus,
.ut-btn--small:focus,
.ut-btn--large:focus,
#js-nav-toggle:focus {
  cursor: pointer;
  text-decoration: none;
  color: #fff !important;
  border: 2px solid #9d4700;
  background-color: #9d4700;
}
.ut-btn:active,
.ut-btn--secondary:active,
.ut-btn--disabled:active,
.ut-btn--small:active,
.ut-btn--large:active,
#js-nav-toggle:active {
  background-color: #ae4f00;
}
.ut-btn--secondary {
  color: #bf5700;
  border-color: #bf5700;
  background-color: #fff;
}
.ut-btn--secondary:link,
.ut-btn--secondary:visited {
  color: #bf5700;
}
.ut-btn--disabled {
  color: #9cadb7;
  border-color: #e6ebed;
  background-color: #e6ebed;
}
.ut-btn--disabled:link,
.ut-btn--disabled:visited {
  color: #9cadb7;
}
.ut-btn--disabled:hover,
.ut-btn--disabled:focus {
  color: #1f262b !important;
  border-color: #e6ebed;
  background-color: #e6ebed;
}
.ut-btn--small {
  padding: 0.25rem 0.75rem;
  text-transform: uppercase;
  font-size: 0.825rem;
  line-height: 1.5;
}
.ut-btn--large {
  padding: 0.75rem 1.25rem;
  text-transform: uppercase;
}
.corner--rounded {
  border-radius: 4px !important;
}
.corner--square {
  border-radius: 0 !important;
}
.corner--pill {
  border-radius: 2rem !important;
}
header.ut-header {
  padding-bottom: 0;
  border-bottom: 1px solid #c4cdd4;
}
@media screen and (min-width: 900px) {
  header.ut-header {
    padding-bottom: 1rem;
  }
}
header.ut-header .site-branding {
  padding: 0.75em 0;
}
@media screen and (min-width: 900px) {
  header.ut-header .site-branding {
    padding: 1.5em 0;
  }
}
header.ut-header .ut-header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header.ut-header .ut-header-wrapper .navbar-brand {
  margin-right: auto;
}
header.ut-header .ut-header-wrapper .ut-main_logo {
  max-height: 35px;
}
@media screen and (min-width: 900px) {
  header.ut-header .ut-header-wrapper .ut-main_logo {
    max-width: 70%;
    max-height: 60px;
  }
}
.ut-search_bar {
  max-width: 100%;
  height: 35px;
  margin: 1em;
  padding: 0;
  border: 1px solid #5e686e;
  background-color: #fff;
}
@media screen and (min-width: 900px) {
  .ut-search_bar {
    position: absolute;
    top: -60px;
    right: 0;
    display: block;
    width: 220px;
    margin: 0;
  }
}
.ut-search_bar form {
  position: relative;
}
.ut-search_bar .input--search {
  width: 100%;
  height: 2.25rem;
  padding-left: 0.5rem;
  border: none;
  background: transparent;
}
.ut-search_bar .input--search::-webkit-input-placeholder {
  font-style: italic;
}
.ut-search_bar .input--search:-ms-input-placeholder {
  font-style: italic;
}
.ut-search_bar .input--search::-ms-input-placeholder {
  font-style: italic;
}
.ut-search_bar .input--search::placeholder {
  font-style: italic;
}
.ut-search_bar .ut-btn--search {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.25rem;
  height: 2.1rem;
  border: none;
  background: none;
  line-height: 2;
}
.ut-search_bar .ut-btn--search:hover {
  cursor: pointer;
  color: #bf5700;
}
.ut-social_bar {
  padding: 0 1em;
}
@media screen and (min-width: 900px) {
  .ut-social_bar {
    position: absolute;
    top: -58px;
    right: 235px;
    display: block;
    padding: 0;
  }
}
.ut-social_bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
@media screen and (min-width: 600px) {
  .ut-social_bar ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media screen and (min-width: 600px) {
  .ut-social_bar ul li {
    margin: 0 10px;
  }
}
@media screen and (min-width: 900px) {
  .ut-social_bar ul li {
    margin: 0 3px;
  }
}
.ut-social_bar svg {
  width: 32px;
  cursor: pointer;

  fill: #333f48;
}
.ut-social_bar svg:hover {
  fill: #1f262b;
}
@media screen and (min-width: 900px) {
  .ut-social_bar svg {
    width: 26px;
  }
}
ul.ut-menu--list,
ul.ut-menu--list-bold {
  margin: 0 0 1.5rem;
  padding-left: 0;
  list-style: none;
  font-size: 0.875rem;
}
ul.ut-menu--list li,
ul.ut-menu--list-bold li {
  margin-bottom: 0.25rem;
}
@media screen and (min-width: 900px) {
  ul.ut-menu--list li,
  ul.ut-menu--list-bold li {
    margin-bottom: 0.75rem;
  }
}
ul.ut-menu--list a,
ul.ut-menu--list-bold a {
  color: #1f262b;
}
footer.ut-footer {
  padding: 3rem 0;
  background-color: #f9fafb;
}
footer.ut-footer .ut-logo--primary {
  max-width: 100%;
  max-height: 62px;
}
footer.ut-footer .text--copyright {
  font-family: "CharisSil", Georgia, serif;
  font-size: 0.75rem;
  font-style: italic;
}
ul.ut-menu--list-bold {
  text-transform: uppercase;
  font-weight: 600;
}
.main-menu__list {
  position: relative;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 900px) {
  .main-menu__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-right: -10px;
    margin-left: -10px;
  }
}
.main-menu__list-item {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-menu__list-item a {
  text-transform: uppercase;
  color: #1f262b;
  font-size: 0.875rem;
  font-weight: 600;
}
.main-menu__list-item > a {
  position: relative;
  display: block;
  margin: 0;
  padding: 0.5em 1em;
  -webkit-transition: border, color, 0.33s ease-in-out;
  transition: border, color, 0.33s ease-in-out;
  border: 1px solid transparent;
}
@media (min-width: 901px) {
  .main-menu__list-item > a {
    display: inline-block;
    margin: 0 0 -1px 0;
    background-color: #fff;
  }
}
.main-menu__list-item .icon {
  position: absolute;
  z-index: 100;
  top: 1px;
  right: 1px;
  display: none;
  cursor: pointer;
  text-align: center;
  color: #333f48;
  border-left: 1px solid #c2c5c8;
  font-weight: bold;
  font-style: normal;
}
.main-menu__list-item .icon.icon--open:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #bf5700;
}
.main-menu__list-item .icon:hover {
  color: #bf5700;
}
@media (max-width: 900px) {
  .main-menu__list-item {
    display: block;
  }
  .main-menu__list-item .icon {
    display: block;
    width: 70px;
    height: 35px;
    text-align: center;
  }
  .main-menu__list-item > a {
    display: block;
  }
}
.main-menu__list-item > a:hover,
.main-menu__list-item > a:focus,
.main-menu__list-item > a.open {
  text-decoration: none;
  border: 1px solid #c2c5c8;
}
.main-menu__list-item > a[href*="http"]:hover,
.main-menu__list-item > a[href*="http"]:focus,
.main-menu__list-item > a[href*="http"].open {
  text-decoration: underline;
  color: #bf5700;
}
@media (min-width: 901px) {
  .main-menu__list > .menu-item-has-children.main-menu__list-item > a {
    padding-right: 1.75rem;
  }
  .main-menu__list > .menu-item-has-children.main-menu__list-item > a.open::before {
    -webkit-animation: move 0.185s ease-in forwards;
    animation: move 0.185s ease-in forwards;
    color: #bf5700;
  }
  @-webkit-keyframes move {
    from {
      top: 0.75rem;
    }
    to {
      top: 1rem;
    }
  }
  @keyframes move {
    from {
      top: 0.75rem;
    }
    to {
      top: 1rem;
    }
  }
}
.main-menu__list-item > a.open {
  z-index: 3;
  border-bottom: none;
}
@media (min-width: 901px) {
  .main-menu__list-item > a.open {
    border: 1px solid #c2c5c8;
  }
}
/* main-menu__ul--sub-menuigation panel */
.main-menu__ul--sub-menu {
  position: absolute;
  z-index: 2;
  top: 2.2rem;
  display: none;
  width: 240px;
  max-height: 500px;
  padding: 0.5rem 1rem 1rem;
  list-style: none;
  -webkit-transition: background-color, color, 0.33s;
  transition: background-color, color, 0.33s;
  border: 1px solid #c2c5c8;
  background-color: #fff;
  /* main-menu__ul--sub-menuigation panel open state */
}
.main-menu__ul--sub-menu a {
  display: block;
  padding: 0.5rem 0;
}
@media (max-width: 900px) {
  .main-menu__ul--sub-menu {
    position: relative;
    top: 0;
    width: 100%;
    max-height: 0;
    padding: 0 25px;
    background-color: #f2f1ed;
  }
  .main-menu__ul--sub-menu a {
    padding: 0.5rem 1rem 1rem;
  }
}
.main-menu__ul--sub-menu.open {
  display: block;
  max-height: 500px;
}
.main-menu__ul--sub-menu li a {
  text-transform: capitalize;
}
@media (min-width: 901px) {
  .main-menu__ul--sub-menu li a.overflowing {
    right: 0;
  }
  .main-menu__ul--sub-menu li a.one-column {
    width: 240px;
    -webkit-column-count: 1;
    column-count: 1;
  }
  .main-menu__ul--sub-menu li a.two-columns {
    width: 400px;
    -webkit-column-count: 2;
    column-count: 2;
  }
  .main-menu__ul--sub-menu li a.three-columns {
    width: 500px;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
/* list of items within main-menu__ul--sub-menu navigation panel */
.main-menu__ul--sub-menu ul {
  display: inline-block;
  margin: 0 1em 0 0;
  padding: 1em;
  vertical-align: top;
}
@media (max-width: 767px) {
  .main-menu__ul--sub-menu ul {
    display: block;
  }
}
.main-menu__ul--sub-menu ul li {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#ut-main_menu-wrapper {
  -webkit-transition: background-color, color, 0.25s;
  transition: background-color, color, 0.25s;
}
@media (max-width: 899px) {
  #ut-main_menu-wrapper {
    position: absolute;
    z-index: 1;
    top: 60px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-flow: column-reverse;
    width: 100%;
    padding: 1rem;
    opacity: 0;
    border-top: 1px solid #c4cdd4;
    border-bottom: 1px solid #c4cdd4;
    background-color: #fbfbf9;

    -ms-flex-flow: column-reverse;
  }
  #ut-main_menu-wrapper.active {
    opacity: 1;
  }
}
@media (min-width: 901px) {
  #ut-main_menu-wrapper {
    position: relative;
  }
}
#ut-main_menu-wrapper.active {
  max-height: 100vh;
}
#js-nav-toggle {
  display: inline-block;
  width: 6.5rem;
  margin-bottom: 0;
  border-radius: 0;
}
@media screen and (min-width: 900px) {
  #js-nav-toggle {
    display: none;
  }
}
.block__ut-social-links--items svg {
  width: 22px;

  fill: #333f48;
}
.block__ut-social-links--items svg:hover {
  fill: #1f262b;
}
.ut-parent_entity {
  position: static;
}
@media screen and (min-width: 900px) {
  .ut-parent_entity {
    position: absolute;
    top: -54px;
  }
}
.ut-parent_entity a {
  color: #333f48;
  font-family: "LibreFrank", Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 900px) {
  .ut-parent_entity a {
    color: #fff;
    font-family: "CharisSil", Georgia, serif;
    font-size: 14px;
  }
}
.ut-header,
.ut-footer {
  max-width: 100%;
  height: auto;
}
.ut-header .ut-logo--main {
  max-height: 40px;
}
@media screen and (min-width: 900px) {
  .ut-header .ut-logo--main {
    max-height: 60px;
  }
}
.ut-footer .ut-logo--main {
  max-height: 60px;
}
.short_logo .ut-logo--main {
  max-height: 40px;
}
@media screen and (min-width: 900px) {
  .short_logo .ut-logo--main {
    max-height: 60px;
  }
}
.tall_logo #ut-main_menu-wrapper {
  margin-top: 20px;
}
@media screen and (min-width: 900px) {
  .tall_logo #ut-main_menu-wrapper {
    margin-top: 0;
  }
}
.tall_logo nav {
  margin-top: 0;
}
@media screen and (min-width: 900px) {
  .tall_logo nav {
    margin-top: 30px;
  }
}
.tall_logo .ut-logo--main {
  max-height: 60px;
}
@media screen and (min-width: 900px) {
  .tall_logo .ut-logo--main {
    max-height: 100px;
  }
}
ul.header-menu__list {
  margin-bottom: 0;
}
ul.header-menu__list .header-menu__list-item {
  display: inline-block;
  margin-bottom: 0;
}
ul.header-menu__list .header-menu__list-item + .header-menu__list-item {
  margin-left: 5px;
}
ul.header-menu__list .header-menu__link {
  padding: 5px;
}
div.search-block-form div.contextual {
  display: none !important;
}
.ut-search-form {
  width: 100%;
  height: 35px;
  margin: 0;
  margin-left: 0;
  padding: 0;
  border: 1px solid #5e686e;
  background-color: #fff;
}
@media screen and (min-width: 900px) {
  .ut-search-form {
    width: 218px;
    margin-left: auto;
  }
}
.ut-search-form form {
  position: relative;
}
.ut-search-form input[type="search"] {
  width: 100%;
  height: 2.25rem;
  padding-left: 0.5rem;
  border: none;
  background: transparent;
}
@media screen and (min-width: 900px) {
  .ut-search-form input[type="search"] {
    width: 218px;
  }
}
.ut-search-form input[type="search"]::-webkit-input-placeholder {
  font-style: italic;
}
.ut-search-form input[type="search"]:-ms-input-placeholder {
  font-style: italic;
}
.ut-search-form input[type="search"]::-ms-input-placeholder {
  font-style: italic;
}
.ut-search-form input[type="search"]::placeholder {
  font-style: italic;
}
.ut-search-form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.25rem;
  height: 2.1rem;
  color: transparent;
  border: none;
  background: none;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 20px;
  line-height: 2;
}
.ut-search-form input[type="submit"]:hover {
  cursor: pointer;
}
#block-breadcrumbs {
  margin: 1rem 0;
}
#block-breadcrumbs ul {
  padding-left: 0;
  font-size: 0;
}
#block-breadcrumbs ul li {
  display: inline-block;
  padding: 0 12px;
  padding: 8px 0 10px 0;
  list-style: none;
  border-top: 1px solid #e1ddd2;
  border-bottom: 1px solid #e1ddd2;
  background-color: #fff;
  font-size: 11px;
}
#block-breadcrumbs ul li::before {
  position: relative;
  top: 1px;
  margin: 0 8px 0 13px;
  content: ">";
  color: #aaa;
}
#block-breadcrumbs ul li:first-child {
  padding-left: 15px;
  border-left: 1px solid #e1ddd2;
}
#block-breadcrumbs ul li:first-child::before {
  margin: 0;
  content: "";
}
#block-breadcrumbs ul li:last-child {
  padding-right: 15px;
  border-right: 1px solid #e1ddd2;
}
#block-breadcrumbs ul li a {
  color: #bf5700;
}
@media screen and (min-width: 900px) {
  header.ut-header {
    padding-top: 1rem;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 900px) {
  header.ut-header .region-primary-menu {
    margin: 0;
    margin-bottom: 1px;
  }
}
header.ut-header .region-header-primary {
  padding: 10px 0;
}
@media screen and (min-width: 900px) {
  header.ut-header .region-header-primary {
    padding: 0;
  }
}
header.ut-header .ut-header-wrapper {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (min-width: 900px) {
  header.ut-header .ut-header-wrapper {
    position: absolute;
    z-index: 1;
  }
}
header.ut-header .header-flex-wrapper {
  margin-top: 20px;
}
@media screen and (min-width: 900px) {
  header.ut-header .header-flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    min-height: 80px;
    margin-top: unset;
  }
}
header.ut-header .region-header-secondary,
header.ut-header .region-header-tertiary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media screen and (min-width: 900px) {
  header.ut-header .region-header-secondary,
  header.ut-header .region-header-tertiary {
    margin-left: 20px;
    padding: 0;
  }
}
header.ut-header .region-header-secondary > div,
header.ut-header .region-header-secondary > nav,
header.ut-header .region-header-tertiary > div,
header.ut-header .region-header-tertiary > nav {
  margin-right: auto;
  margin-bottom: 20px;
}
@media screen and (min-width: 900px) {
  header.ut-header .region-header-secondary > div,
  header.ut-header .region-header-secondary > nav,
  header.ut-header .region-header-tertiary > div,
  header.ut-header .region-header-tertiary > nav {
    margin-right: unset;
    margin-left: auto;
  }
}
footer.ut-footer .block {
  margin-bottom: 20px;
}
footer.ut-footer .required-links__list {
  -webkit-column-count: 2;
  column-count: 2;
}
footer.ut-footer .footer-menu__list-item {
  margin-bottom: 20px;
}
footer.ut-footer .required-links__list-item {
  margin-bottom: 15px;
}
footer.ut-footer .footer-textarea {
  padding-left: 10px;
  border-left: 1px solid #c4cdd4;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
