#block-tabs {
  margin: 1.5rem 0;
  // Styles imported from classy/css/components/tabs.css
  .tabs a:focus,
  .tabs a:hover {
    background-color: #f5f5f5;
  }
  ul.tabs.primary {
    border-bottom: 1px solid #bbb;
    border-collapse: collapse;
    height: auto;
    list-style: none;
    margin: rem-calc(5);
    padding: 0 0 rem-calc(3) 1rem;
    white-space: nowrap;
    box-sizing: border-box;
    line-height: normal;

    li {
      display: inline-block;

      a {
        background-color: #ddd;
        border-color: #bbb;
        border-style: solid solid none solid;
        border-width: 1px;
        border-radius: 3px 3px 0 0;
        height: auto;
        margin-right: 0.5rem;
        padding: rem-calc(4) 1rem rem-calc(3);
        text-decoration: none;
        color: #333;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }

      a.is-active {
        background-color: #fff;
        border: 1px solid #bbb;
        border-bottom: 1px solid #fff;
      }
    }
  }

  // Styles imported from bartik/css/components/tabs.css
  ul.tabs.secondary {
    border-bottom: none;
    margin: rem-calc(5);
    padding: 0.5rem 0;
    overflow: hidden;
  }
  ul.tabs.secondary li {
    border-right: 1px solid #ccc; /* LTR */
    display: block;
    float: left; /* LTR */
    margin: 0;
    padding: 0 1rem;
  }
  [dir="rtl"] ul.tabs.secondary li {
    border-left: 1px solid #ccc;
    border-right: none;
    float: right;
  }
  ul.tabs.secondary li:last-child {
    border-right: none; /* LTR */
  }
  ul.tabs.secondary li:first-child {
    padding-left: 0; /* LTR */
  }
  [dir="rtl"] ul.tabs.secondary li:last-child {
    border-left: none;
  }
  [dir="rtl"] ul.tabs.secondary li:first-child {
    padding-right: 0;
  }
  // stylelint-disable-next-line no-descending-specificity
  ul.tabs.secondary li a {
    display: inline;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
  }
  ul.tabs.secondary li a.is-active {
    background: #f2f2f2;
    border-bottom: none;
    border-radius: 5px;
  }
}
