// Brandbar styles.
.ut-brandbar {
  background: $ut-burntorange;
  text-align: center;
  a {
    overflow-wrap: unset;
  }
  .ut-logo--wrapper {
    background: $ut-burntorange;
    height: 40px;
    padding-top: 6px;
    vertical-align: center;
    img {
      max-height: 25px;
    }
    // stylelint-disable-next-line at-rule-no-unknown
    @include screen-mq(md) {
      text-align: right;
    }
  }
  .ut-parent-entity {
    background-color: #333f48;
    color: $ut-white;
    font-family: $ut-font--serif;
    font-weight: 600;
    padding-top: 6px;
    padding-bottom: 6px;
    vertical-align: center;
    a {
      color: $ut-white;
    }
    // stylelint-disable-next-line at-rule-no-unknown
    @include screen-mq(md) {
      background: transparent;
      text-align: left;
    }
  }
}
