// Breadcrumb styling

.block-system-breadcrumb-block {
  margin: 1rem 0;
  ul {
    padding-left: 0;
    font-size: 0;
    li {
      list-style: none;
      display: inline-block;
      font-size: rem-calc(11);
      background-color: #fff;
      padding: rem-calc(8) 0 rem-calc(10) 0;
      border-bottom: 1px solid #e1ddd2;
      border-top: 1px solid #e1ddd2;
      &::before {
        color: #AAAAAA;
        content: ">";
        margin: 0 rem-calc(8) 0 rem-calc(13);
        position: relative;
        top: 1px;
      }
      &:first-child {
        border-left: 1px solid #e1ddd2;
        padding-left: rem-calc(15);
        &::before {
          content: '\00A0';
          margin: 0;
        }
      }
      &:last-child {
        border-right: 1px solid #e1ddd2;
        padding-right: rem-calc(15);
      }
      a {
        color: $ut-burntorange;
      }
    }
  }
}
/* Override the margin-bottom for .block class. */
#block-breadcrumbs {
  margin-bottom: 1rem;
}
