details {
  margin-bottom: 9px;
  background: #FFFFFF;
  border: 1px solid rgba(214, 210, 196, .25);
}
details summary {
  padding: 0.375rem 0.75em;
  background: rgba(214, 210, 196, .25);
  color: #9d4700;
  font-size: 1.125rem;
  font-weight: 600;
  list-style: revert-layer;
}
details[open] {
  padding: 0 1rem 0.5rem 1rem;
  border: 1px solid #9d4700;
}
details[open] summary,
details summary:hover {
  background: #9d4700;
  text-decoration: none;
  color: #ffffff;
}
details[open] summary {
  margin: 0 -1rem 0.75rem;
}
