.ut-newsreel {
  .news-date {
    font-size: 0.9375rem;
    font-style: italic;
  }
  .news-headline {
    color: $ut-burntorange;
    font-weight: 500;
    &:hover {
      color: $ut-burntorange--s20;
    }
  }
}

/* Border styles */
.field-border.ut-newsreel {
  padding: 0 0 20px;
  background-color: #fff;
  border: 1px solid #f0ede6;
  margin-bottom: 35px;
}
.field-border.ut-newsreel .news-item,
.field-border.ut-newsreel .ut-copy,
.field-border.ut-newsreel .ut-cta {
  padding: 0 15px;
  margin-bottom: 10px;
}

.field-border.ut-newsreel .ut-copy {
  margin-top: 10px;
}

/* Background style */
.field-background.ut-newsreel {
  background-color: #fffdfa;
  padding-bottom: 20px;
}
.field-background.ut-newsreel .news-item,
.field-border.ut-newsreel .ut-copy,
.field-border.ut-newsreel .ut-btn--secondary {
  padding-left: 15px;
}
