// Forms styling (overrides for Texas Design System Forms).

// Layout Builder form fixes for radios and checkboxes.
#drupal-off-canvas input[type="checkbox"],
#drupal-off-canvas input[type="radio"] {
  display: inline-block;
  width: 20px;
}

#drupal-off-canvas label {
  display: inline-block;

  &:before {
    display: none;
  }
}

#layout-builder-modal {
  .js-form-type-checkbox {
    label {
      font-size: .75rem;
      color: #595959;
      font-family: "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", "Lucida Sans", sans-serif;

      &:before {
        width: .8rem;
        height: .8rem;
        border-radius: 2px;
      }
    }
  }
}
