//
// Header menu component.
//

ul.header-menu__list {
  margin-bottom: 0;
  .header-menu__list-item {
    display: block;
    margin-bottom: rem-calc(10);
    // stylelint-disable-next-line at-rule-no-unknown
    @include screen-mq(sm) {
      display: inline-block;
      margin-bottom: 0;
    }
    // stylelint-disable-next-line at-rule-no-unknown
    @include screen-mq(sm) {
      & + .header-menu__list-item {
        margin-left: rem-calc(5);
      }
    }
  }
  .header-menu__list-item.active a.header-menu__link {
    color: $ut-burntorange;
  }
  .header-menu__link {
    padding: rem-calc(5);
  }
}
