//
// Header menu component.
//

ul.header-menu__list {
  margin-bottom: 0;
  .header-menu__list-item {
    display: inline-block;
    margin-bottom: 0;
    & + .header-menu__list-item {
      margin-left: 5px;
    }
  }
  .header-menu__link {
    padding: 5px;
  }
}
