//
// Image components.
//

img {
  // stylelint-disable-next-line at-rule-no-unknown
  @include img-fluid;
}
// Insure image link image fields fill up their container.
.utexas-image-link,
.ut-flex-content-area {
  img {
    width: 100%;
  }
}
