//
// Main Mega menu CSS.
//

// ----------
// Mega menu list (main menu ul).
.main-menu__list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 15;
  @media (min-width: 900px) {
    flex-direction: row;
    margin-left: -10px;
    margin-right: -10px;
  }
}

// A top level navigation item in the mega menu (main menu ul > li)
.main-menu__list-item {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  position: relative;
  // First descendant link within a top level navigation item (main menu ul > li > a).
  .main-menu__link {
    font-size: 0.875rem;
    text-transform: uppercase;
    color: $ut-body-font-color;
    font-weight: 600;
    border: 1px solid transparent;
    display: block;
    margin: 0;
    padding: 0.5em 1em;
    position: relative;
    transition: border, color, 0.33s ease-in-out;
    @media (max-width: map-get($grid-breakpoints, md) - 1px) {
      width: calc(100% - 70px);
      // Trigger subnav to be visible when L1 has focus or open class.
      &.focus,
      &.open {
        ~ div.sub-nav-wrapper > .main-menu__list--subnav {
          max-height: 500px;
          display: block;
        }
      }
    }
    @media (min-width: map-get($grid-breakpoints, md)) {
      background-color: $ut-white;
      display: inline-block;
      margin: 1px 0 0 0;
    }
  }
  .main-menu__link--subnav {
    font-size: 0.875rem;
    text-transform: capitalize;
    color: $ut-body-font-color;
    font-weight: 600;
    display: block;
    margin: 0;
    padding: 0 25px;
    position: relative;
    transition: border, color, 0.33s ease-in-out;
    @media (min-width: map-get($grid-breakpoints, md)) {
      background-color: $ut-white;
      display: inline-block;
      margin: 1px 0 0 0;
      padding: 0.5em 1em;
    }
  }
  // For the plus minus menu toggle reveals.
  .icon {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 9px;
    z-index: 100;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    color: $ut-charcoal;
    width: 20px;
    height: 20px;
    font-size: 1.125rem;
    transition: transform, color 0.33s;
    transform-origin: center center;
    background-image: url(../images/chevron-down.svg);
    background-size: cover;
    &.icon--open {
      &:before {
        transform: rotate(90deg);
        color: $ut-burntorange;
      }
    }
    &:hover {
      color: $ut-burntorange;
    }
    @media (max-width: map-get($grid-breakpoints, md) - 1px) {
      right: 0;
      top: 1px;
      text-align: center;
      display: block;
      width: 70px;
      height: 35px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 20px 4px;
    }
  }

  // Focus/open/hover states of first descendant link within a top level
  // navigation item (main menu ul > li > a).
  .main-menu__link:hover,
  .main-menu__link:focus,
  .main-menu__link.open {
    border: 1px solid $ut-charcoal--t40;
    text-decoration: none;
    color: $ut-burntorange;
    text-decoration: underline;
    // stylelint-disable-next-line at-rule-no-unknown
    @include screen-mq(md) {
      border-bottom: 1px solid transparent;
      margin-top: 1px;
      z-index: 3;
    }
  }
  // Focus/open/hover states of first descendant link within a second level
  // navigation item (subnav ul > li > a).
  .main-menu__link--subnav:hover,
  .main-menu__link--subnav:focus,
  .main-menu__link--subnav.open {
    // stylelint-disable-next-line at-rule-no-unknown
    @include screen-mq(md) {
      outline-offset: 0;
    }
  }
}

// Parent of child items from top.
.menu-item-has-children.main-menu__list-item > .main-menu__link {
  @media (min-width: map-get($grid-breakpoints, md)) {
    padding-right: 1.75rem;
  }
  @media (max-width: map-get($grid-breakpoints, md) - 1px) {
    border-right: 1px solid $ut-charcoal--t40;
  }
}

// Open state of first descendant link within a top level navigation item.
.main-menu__list-item > a.open {
  border-bottom: none;
  z-index: 3;
  @media (min-width: map-get($grid-breakpoints, md)) {
    border: 1px solid $ut-charcoal--t40;
  }
}

/* main-menu__list--subnavigation panel */
.sub-nav-wrapper {
  .main-menu__list--subnav {
    list-style: none;
    position: absolute;
    display: none;
    top: 2.3rem;
    padding: 0.5rem 1rem;
    border: 1px solid $ut-charcoal--t40;
    background-color: $ut-white;
    width: 240px;
    max-height: 500px;
    transition: background-color, color, 0.33s;
    z-index: 2;
    .main-menu__link--subnav {
      display: block;
      padding: 0.5rem 0;
      text-transform: capitalize;
    }

    @media (max-width: map-get($grid-breakpoints, md) - 1px) {
      width: 100%;
      top: 0;
      background-color: $ut-limestone--t40;
      position: relative;
      max-height: 0;
      padding: 0 25px;

      .main-menu__link--subnav {
        padding: 0.5rem 0;
      }
    }
    &.open {
      display: block;
      max-height: 500px;
    }
  }
  // stylelint-disable-next-line at-rule-no-unknown
  @media (min-width: map-get($grid-breakpoints, md)) {
    .main-menu__list-item--subnav {
      display: block;
      list-style-type: none;
      margin: 0;
      padding: 3px 0;
    }
    &.overflowing .main-menu__list--subnav {
      right: 0;
    }
    &.one-column .main-menu__list--subnav {
      width: 240px;
      column-count: 1;
    }
    &.two-columns .main-menu__list--subnav {
      width: 400px;
      column-count: 2;
      .main-menu__list-item--subnav {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
      }
    }
    &.three-columns .main-menu__list--subnav {
      width: 500px;
      column-count: 3;
      .main-menu__list-item--subnav {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
      }
    }
    &.open .main-menu__list--subnav {
      display: block;
      max-height: 500px;
    }
  }
}

// Main Menu mobile toggle button.
#js-nav-toggle {
  display: inline-block;
  // stylelint-disable-next-line at-rule-no-unknown
  @extend %ut-button;

  margin-bottom: 0;
  border-radius: 0;
  width: 6.5rem;
  // stylelint-disable-next-line at-rule-no-unknown
  @include screen-mq(md) {
    display: none;
  }
}
