.ut-parent_entity {
  position: static;
  // stylelint-disable-next-line at-rule-no-unknown
  @include screen-mq(md) {
    position: absolute;
    top: rem-calc(-54);
  }
  a {
    color: $ut-charcoal;
    font-family: $ut-font--sans;
    // stylelint-disable-next-line at-rule-no-unknown
    @include screen-mq(md) {
      color: $ut-white;
      font-family: $ut-font--serif;
      font-size: rem-calc(14);
    }
  }
}
