// Promo List styles

.ut-promo-list-wrapper .promo-list {
  .ut-headline {
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 600;
  }
  a > .ut-headline {
    color: $ut-burntorange;
  }
}
.promo-list .ut-copy p {
  font-size: 1rem;
}
