// Styling for Quick Links Widget.

.utexas-quick-links {
  .ut-headline {
    // stylelint-disable-next-line at-rule-no-unknown
    @include screen-mq(md) {
      font-size: 1.125rem;
    }
    // stylelint-disable-next-line at-rule-no-unknown
    @include screen-mq(lg) {
      font-size: 1.25rem;
    }
  }
  .link-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
}
