//
// UT DS search form CSS Overrides.
//

// TODO remove hiding of contextual links
div.search-block-form div.contextual {
  display: none !important;
}
// end TODO

.ut-search-form {
  border: 1px solid $ut-shade--s40;
  background-color: $ut-white;
  height: 35px;
  margin: 0;
  margin-left: 0;
  border-radius: 4px;
  width: 100%;
  padding: 0;
  // stylelint-disable-next-line at-rule-no-unknown
  @include screen-mq(lg) {
    margin-left: auto;
    width: 218px;
  }

  form {
    position: relative;
  }

  input[type="search"] {
    border: none;
    background: transparent;
    height: 2rem;
    padding-left: .5rem;
    width: 100%;
    max-width: unset;
    margin: 0;
    // stylelint-disable-next-line at-rule-no-unknown
    @include screen-mq(lg) {
      width: 218px;
    }
    &::placeholder {
      font-style: italic;
    }
    // clears the X from Chrome and Safari
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }

  input[type="submit"] {
    border: none;
    height: 2rem;
    line-height: 2;
    right: 0;
    position: absolute;
    top: 0;
    margin: 0;
    width: 2.25rem;
    color: transparent;
    background-color: transparent;
    z-index: 1;
    &:hover {
      cursor: pointer;
    }
  }
  .svg.search {
    position: absolute;
    top: rem-calc(3);
    right: rem-calc(3);
    z-index: 0;
    width: 24px;
    height: 24px;
    fill: $ut-burntorange;
  }
}

form.search-form {
  position: relative;
  margin-top: -10px;
  .container-inline div {
    display: block;
  }
  input {
    max-width: unset;
    padding: 10px 0 8px 10px;
    margin: 10px 0 2px 0;
    line-height: 1.125rem;
    font-size: 1.125rem;
    margin-bottom: 4px;
    height: 60px;
    width: 100%;
    border: 1px solid #e1ddd2;

    // stylelint-disable-next-line at-rule-no-unknown
    @include screen-mq(sm) {
      padding: 0 0 5px 20px;
      line-height: 2.125rem;
      font-size: 2.125rem;
    }
  }

  // clears the X from Internet Explorer
  input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
  // clears the X from Chrome and Safari
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  #edit-keys {
    background: transparent;
  }
  #edit-submit {
    position: absolute;
    width: 56px;
    top: 0;
    right: 0;
    margin: 0;
    padding-left: 0;
    padding-bottom: 0;
    z-index: 1;
    border: none;
    background: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
  }
  .svg.search {
    position: absolute;
    z-index: -1;
    right: 0.625rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    fill: $ut-burntorange;
    top: 18px;
    z-index: 0;

    // stylelint-disable-next-line at-rule-no-unknown
    @include screen-mq(sm) {
      width: 2.375rem;
      height: 2.375rem;
      top: 10px;
    }
  }
}
