//
// UT DS Global Mixins
//

// stylelint-disable at-rule-no-unknown
// stylelint-disable plugin/no-browser-hacks
// stylelint-disable length-zero-no-unit
@use 'sass:math';

// ----------
// Block Modifier @access public
// @param {String} $modifer - Modifier's name
@mixin mod($modifier) {
  &--#{$modifier} {
    @content;
  }
}

// ----------
// Image Fluidity Include @access public
@mixin img-fluid {
  max-width: 100%;
  height: auto;
}

// ----------
// List Style Stripper @access public
@mixin list-style-none {
  list-style: none;
  padding-left: 0;
}

.ut-list-unstyled {
  @include list-style-none();
}

// ----------
/* Unset legacy :focus, which is not context-sensitive */
*:focus {
  outline: none;
  outline-offset: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* :focus-visible uses browser heuristics to apply to items that "need"
 a visible focus indicator" */
*:focus-visible,
.ut-focus {
  outline: 2px #F9F9F9 solid;
  outline-offset: 0px;
  box-shadow: 0 0 0 4px #193146;
}

// ----------
// Clearfix @access public
@mixin clearfix {
  display: block;
  clear: both;
  content: "";
}

// ----------
// Strip unit of measure
@function stripunit($num) {
  @return math.div($num, $num * 0 + 1);
}

// ----------
// Convert the value to rem
@function convert-to-rem($value, $base-value: $ut-rem-base) {
  $value: calc(stripunit($value) / stripunit($base-value)) * 1rem;
  @if ($value == 0rem) { $value: 0; } // Turn 0rem into 0
  @return $value;
}

// ----------
// rem-calc function to convert pixel values to rem values
@function rem-calc($values, $base-value: $ut-rem-base) {
  $max: length($values);

  @if $max == 1 { @return convert-to-rem(nth($values, 1), $base-value); }

  $remValues: ();
  @for $i from 1 through $max {
    $remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
  }
  @return $remValues;
}
// stylelint-enable
