// ----------
// Screen min width media query utility @access public
@mixin screen-mq($mq-breakpoint, $mq-breakpoints: $grid-breakpoints) {
  // If $mq-breakpoint is a key that exists in
  // $mq-breakpoints, get and use the value
  @if map-has-key($mq-breakpoints, $mq-breakpoint) {
    $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
  }

  @media screen and (min-width: #{$mq-breakpoint}) {
    @content;
  }
}
