<section role="region" aria-label="University Brand Bar" class="ut-brandbar">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a href="https://www.utexas.edu" class="ut-logo--shieldtexas">
          <span class="img-fluid logo--formal">
            <img src="{{ brandbar_shield }}" alt="Texas Shield Logo" />
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
