<header class="ut-header" role="banner">
  <div class="site-branding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="ut-header-wrapper">
            {{ page.header }}
            <button class="ut-btn--toggle" aria-controls="main-menu" aria-expanded="false" id="js-nav-toggle"
              href="#ut-main_menu-wrapper"><span class="hamburger"></span>MENU</button>
          </div>
          <div id="ut-main_menu-wrapper">
            {% if parent_entity_link and parent_entity_title %}
              {% include '@forty_acres/includes/parent_entity.html.twig' %}
            {% endif %}
            <nav id="main-menu" role="navigation">
              {{ page.primary_menu }}
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
