<header class="ut-header" role="banner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="ut-header-wrapper">
          {{ page.header_primary }}
          <button role="button" class="ut-btn--toggle" aria-haspopup="true" aria-controls="ut-main_menu-wrapper" aria-expanded="false" id="js-nav-toggle"
            href="#ut-main_menu-wrapper">MENU</button>
        </div>
        <div id="ut-main_menu-wrapper">
          <div class="header-flex-wrapper">
            {{ page.header_secondary }}
            {{ page.header_tertiary }}
          </div>
          {% if parent_entity_link and parent_entity_title %}
            {% include '@forty_acres/includes/parent_entity.html.twig' %}
          {% endif %}
          {{ page.primary_menu }}
        </div>
      </div>
    </div>
  </div>
</header>
