<div class="ut-search_bar">
  <label for="search-desktop" class="sr-only" id="desktopSearchLabel">Search</label>
  <form action="/search-results" method="get" id="cse_desktop_searchbox">
    <input name="query" placeholder="Search the site..." class="input--search" title="Search this site" aria-labelledby="desktopSearchLabel" type="text">
    <button class="ut-btn--search"><span class="sr-only">Search</span><span class="icon ut-search"></span></button>
  </form>
</div>