//
// UT DS Footer CSS Overrides.
//
footer.ut-footer {
  .block {
    margin-bottom: 20px;
  }
  .required-links__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .required-links__list-item {
    flex: 0 1 48%;
    margin-bottom: 15px;
  }
  .footer-menu__list-item {
    margin-bottom: 20px;
  }
  .footer-textarea {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 10px;
    border-left: 1px solid $ut-shade--t60;
  }
}
