/* Styles for layout that are not specific to any one region. */

/* Add a margin-bottom to wherever .block class is used in the main content region. */
.block {
  margin-bottom: 2.5rem;
}

table {
  &.border-1 {
    th,
    td {
      border: 1px solid #ddd;
    }
  }
  &.border-2 {
    th,
    td {
      border: 2px solid #ddd;
    }
  }
}

/* Tablesaw tables. */
/* Add a background color for table headers. */
.tablesaw thead {
  background: $ut-charcoal--t20;
}

/* Defaults to no border if border attribute is used. */
table[border].tablesaw {
  th,
  td {
    border: 0;
  }
}

/* Add borders to 640px screen sizes and up. */
// stylelint-disable-next-line at-rule-no-unknown
@include screen-mq("640px") {
  table[border="1"].tablesaw {
    th,
    td {
      border: solid 1px #ddd;
    }
  }

  table[border="2"].tablesaw {
    th,
    td {
      border: solid 2px #ddd;
    }
  }
}
