//
// UT DS Header CSS Overrides.
//
header.ut-header {
  // stylelint-disable-next-line at-rule-no-unknown
  @include screen-mq(lg) {
    padding-top: 1rem;
    padding-bottom: 0;
  }
  .region-primary-menu {
    // stylelint-disable-next-line at-rule-no-unknown
    @include screen-mq(lg) {
      margin: 0;
      // this pushes the hr down enough for it to appear whole
      margin-bottom: 1px;
    }
  }
  .region-header-primary {
    padding: rem-calc(10) 0;
    // stylelint-disable-next-line at-rule-no-unknown
    @include screen-mq(lg) {
      padding: 0;
    }
  }
  // Wraps the Primary Header region and #js-nav-toggle button
  .ut-header-wrapper {
    justify-content: space-between;
    button#js-nav-toggle {
      flex: 0 1 103px;
      margin-left: 40px;
    }
    // stylelint-disable-next-line at-rule-no-unknown
    @include screen-mq(lg) {
      position: absolute;
      z-index: 1;
    }
  }
  .header-flex-wrapper {
    align-items: center;
    margin-top: rem-calc(20);
    // stylelint-disable-next-line at-rule-no-unknown
    @include screen-mq(lg) {
      margin-top: unset;
      display: flex;
      justify-content: flex-end;
      // Use min-height to push the main menu down a bit and it works even if
      // the header blocks
      min-height: 80px;
    }
  }
  .region-header-secondary,
  .region-header-tertiary {
    display: flex;
    flex-direction: column;
    // stylelint-disable-next-line at-rule-no-unknown
    @include screen-mq(lg) {
      margin-left: rem-calc(20);
      padding: 0;
    }
    // Add some vertical space between direct descendant divs and navs in case where
    // multiple blocks have been added to header regions
    & > div,
    & > nav {
      margin-bottom: rem-calc(20);
      margin-right: auto;
      // stylelint-disable-next-line at-rule-no-unknown
      @include screen-mq(lg) {
        margin-right: unset;
        margin-left: auto;
      }
    }
  }
  // Wrapper of the entire mobile nav that is shown/hidden via click event
  // on #js-nav-toggle which toggles 'active' class on #ut-main_menu-wrapper.
  #ut-main_menu-wrapper {
    transition: background-color, color, 0.25s;
    @media (max-width: map-get($grid-breakpoints, lg) - 1px) {
      padding: 1rem;
      width: 100%;
      position: absolute;
      z-index: -100;
      top: 5.15rem;
      left: 0;
      overflow: hidden;
      opacity: 0;
      background-color: $ut-limestone--t20;
      border: 1px solid $ut-shade--t60;
      display: none;
      flex-flow: column-reverse;
      &.active {
        opacity: 1;
      }
    }
    @media (max-width: map-get($grid-breakpoints, md) - 1px) {
      top: 4.5rem;
    }
    @media (min-width: map-get($grid-breakpoints, lg) + 1px) {
      position: relative;
    }
    &.active {
      z-index: 100;
      display: flex;
    }
  }
}
