//
// UT DS Header CSS Overrides.
//
header.ut-header {
  // stylelint-disable-next-line at-rule-no-unknown
  @include screen-mq(md) {
    padding-top: 1rem;
    padding-bottom: 0;
  }
  .region-primary-menu {
    // stylelint-disable-next-line at-rule-no-unknown
    @include screen-mq(md) {
      margin: 0;
      // this pushes the hr down enough for it to appear whole
      margin-bottom: 1px;
    }
  }
  .region-header-primary {
    padding: 10px 0;
    // stylelint-disable-next-line at-rule-no-unknown
    @include screen-mq(md) {
      padding: 0;
    }
  }
  .ut-header-wrapper {
    justify-content: space-between;
    // stylelint-disable-next-line at-rule-no-unknown
    @include screen-mq(md) {
      position: absolute;
      z-index: 1;
    }
  }
  .header-flex-wrapper {
    margin-top: 20px;
    // stylelint-disable-next-line at-rule-no-unknown
    @include screen-mq(md) {
      margin-top: unset;
      display: flex;
      justify-content: flex-end;
      // pushes the main menu down a bit and it works even if
      // the header blocks are absent
      min-height: 80px;
    }
  }
  .region-header-secondary,
  .region-header-tertiary {
    display: flex;
    flex-direction: column;
    // stylelint-disable-next-line at-rule-no-unknown
    @include screen-mq(md) {
      margin-left: 20px;
      padding: 0;
    }
    // adds some vertical space between divs and navs in header regions
    & > div,
    & > nav {
      margin-bottom: 20px;
      margin-right: auto;
      // stylelint-disable-next-line at-rule-no-unknown
      @include screen-mq(md) {
        margin-right: unset;
        margin-left: auto;
      }
    }
  }
}
