/* Declare format for nested ordered lists */
ol {
  > li {
    list-style-type: decimal;
    > ol {
      > li {
        list-style-type: upper-alpha;
        > ol {
          > li {
            list-style-type: upper-roman;
            > ol {
              > li {
                list-style-type: decimal;
                > ol {
                  > li {
                    list-style-type: lower-alpha;
                    > ol {
                      > li {
                        list-style-type: lower-roman;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
