//
// Flex Content Area Styles.
//

// ----------
// Default Flex Content Area appearance

.ut-flex-content-area-wrapper {
  .image-wrapper {
    margin-bottom: 10px;
  }
  .ut-flex-content-area {
    margin-bottom: 20px;
  }
  .link-list {
    // stylelint-disable-next-line at-rule-no-unknown
    @include list-style-none;
    li {
      margin-bottom: 9px;
    }
  }
  .ut-headline {
    padding: 0.5rem 0;
  }
}
