//
// Header CSS.
//
header.ut-header {
  border-bottom: 1px solid $ut-shade--t60;
  padding-bottom: 0;
  // stylelint-disable-next-line at-rule-no-unknown
  @include screen-mq(lg) {
    padding-bottom: 1rem;
  }

  .site-branding {
    padding: .75em 0;
    // stylelint-disable-next-line at-rule-no-unknown
    @include screen-mq(lg) {
      padding: 1.5em 0;
    }
  }

  .ut-header-wrapper {
    display: flex;
    align-items: center;

    .navbar-brand {
      margin-right: auto;
    }

    .ut-main_logo {
      max-height: 35px;
      // stylelint-disable-next-line at-rule-no-unknown
      @include screen-mq(lg) {
        max-height: 60px;
        max-width: 70%;
      }
    }
  }
}

// ----------
// Search Bar in the header.
.ut-search_bar {
  border: 1px solid $ut-shade--s40;
  background-color: $ut-white;
  height: 35px;
  margin: 1em;
  max-width: 100%;
  padding: 0;

  // stylelint-disable-next-line at-rule-no-unknown
  @include screen-mq(lg) {
    display: block;
    margin: 0;
    position: absolute;
    right: 0;
    top: -60px;
    width: 220px;
  }

  form {
    position: relative;
  }

  .input--search {
    border: none;
    background: transparent;
    height: 2.25rem;
    padding-left: .5rem;
    width: 100%;
    &::placeholder {
      font-style: italic;
    }
  }

  .ut-btn--search {
    border: none;
    background: none;
    height: 2.1rem;
    line-height: 2;
    right: 0;
    position: absolute;
    top: 0;
    width: 2.25rem;

    &:hover {
      color: $ut-burntorange;
      cursor: pointer;
    }
  }
}

// ----------
// Social Media Icon Menu
.ut-social_bar {
  padding: 0 1em;

  // stylelint-disable-next-line at-rule-no-unknown
  @include screen-mq(lg) {
    display: block;
    padding: 0;
    position: absolute;
    right: 235px;
    top: -58px;
  }

  ul {
    // stylelint-disable-next-line at-rule-no-unknown
    @include list-style-none;

    display: flex;
    justify-content: space-between;
    margin-bottom: 0;

    // stylelint-disable-next-line at-rule-no-unknown
    @include screen-mq(sm) {
      justify-content: center;
    }

    li {
      // stylelint-disable-next-line at-rule-no-unknown
      @include screen-mq(sm) {
        margin: 0 10px;
      }
      // stylelint-disable-next-line at-rule-no-unknown
      @include screen-mq(lg) {
        margin: 0 3px;
      }
    }
  }

  svg {
    width: 32px;
    fill: $ut-charcoal;
    cursor: pointer;
    &:hover {
      fill: $ut-charcoal--s40;
    }
    // stylelint-disable-next-line at-rule-no-unknown
    @include screen-mq(lg) {
      width: 26px;
    }
  }
}
