/* General defaults for Hero elements */
.ut-hero .ut-btn--hero {
  background: transparent;
  border: 2px solid $ut-white;
  border-radius: 4px;
  color: $ut-white;
  display: inline-block;
  font-size: .75rem;
  font-weight: 600;
  padding: .5rem 1rem;
  transition: background-color, color, .33s ease-out;
}

/* Styling for default hero with caption and credit line. */
.ut-hero p.hero--caption-credit-wrapper {
  margin: 0;
  font-size: 0.75rem;
  line-height: 0.9375;
  padding: rem-calc(10) 0 rem-calc(10) 0;
}
// stylelint-disable-next-line at-rule-no-unknown
@include screen-mq(sm) {
  .ut-hero p.hero--caption-credit-wrapper {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.25;
    padding: rem-calc(10) 0 rem-calc(10) 0;
  }
}
.ut-hero .hero-caption {
  padding-right: .5rem;
}
.ut-hero .credit {
  font-style: italic;
  color: #6a6a6a;
}

/* Hero with Orange Box similar to core site (i.e., Style 1) */
.hero--photo-orange-insert {
  .hero-content {
    background: $ut-burntorange;
    // stylelint-disable-next-line at-rule-no-unknown
    @include screen-mq(md) {
      background: $ut-burntorange;
      background: linear-gradient(to bottom, rgba(191, 87, 0, 0.5) 0%, rgba(191, 87, 0, 0.9) 82%, rgba(191, 87, 0, 0.9) 100%);
    }
  }
  .hero-callout {
    color: $ut-white;
  }
  .hero-headline {
    font-size: 2.0625rem;
    font-weight: 600;
    color: $ut-white;
    margin-bottom: .5rem;
    // stylelint-disable-next-line at-rule-no-unknown
    @include screen-mq(md) {
      font-size: 2.4375rem;
    }
  }
  .hero-subhead {
    color: $ut-white;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: .5rem;
  }
  .ut-btn--hero {
    text-transform: uppercase;
  }
  // stylelint-disable-next-line at-rule-no-unknown
  @include screen-mq(md) {
    .ut-btn--hero {
      font-size: 1rem;
    }
    .hero-subhead {
      font-size: 1.25rem;
    }
  }
}

/* Floating content area ontop of image (i.e., Style 2) */
.ut-hero.hero--photo-gradient .hero-callout {
  padding: 1rem;
}
// stylelint-disable-next-line at-rule-no-unknown
@include screen-mq(lg) {
  .ut-hero.hero--photo-gradient .hero-callout {
    padding: 1.5rem 1.25rem;
  }
}
.ut-hero.hero--photo-gradient .hero-headline {
  color: $ut-white;
  font-weight: 600;
  line-height: 1.25;
  font-size: 2.0625rem;
}
// stylelint-disable-next-line at-rule-no-unknown
@include screen-mq(lg) {
  .ut-hero.hero--photo-gradient .hero-headline {
    font-size: 2.4375rem;
    line-height: 2.625;
  }
}

.ut-hero .ut-btn--hero:hover,
.ut-hero .ut-btn--hero:focus {
  background-color: $ut-white;
  color: $ut-burntorange;
  cursor: pointer;
  text-decoration: none;
}

/* Hero with pinned overlay that is width of the max content container (Style 3) */
// stylelint-disable-next-line at-rule-no-unknown
@include screen-mq(lg) {
  .ut-hero.hero--photo-white-notch .hero-callout {
    padding: 1.5rem 1.25rem;
  }
}
.ut-hero.hero--photo-white-notch .hero-headline {
  padding-bottom: rem-calc(5);
  font-size: 1.6875rem;
  font-weight: 600;
  line-height: 1.25;
}
// stylelint-disable-next-line at-rule-no-unknown
@include screen-mq(lg) {
  .ut-hero.hero--photo-white-notch .hero-headline {
    padding-bottom: 0;
    font-size: 1.9375rem;
  }
}
.ut-hero.hero--photo-white-notch .hero-subhead {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.25;
  float: left;
  padding-top: rem-calc(3);
}
// stylelint-disable-next-line at-rule-no-unknown
@include screen-mq(lg) {
  .ut-hero.hero--photo-white-notch .hero-subhead {
    font-size: 1.25rem;
  }
}
.ut-hero.hero--photo-white-notch .hero-cta {
  display: inline-block;
  // stylelint-disable-next-line at-rule-no-unknown
  @include screen-mq(md) {
    display: block;
  }
  @media (max-width: map-get($grid-breakpoints, md)) {
    a.ut-btn {
      color: $ut-burntorange;
      background-color: $ut-white;
      font-style: italic;
      border: none;
      padding: inherit;
      &:hover {
        color: $ut-burntorange--s20 !important;
      }
    }
  }
}

/* Centered Image with blue bar (i.e., Style 4) */
.ut-hero.hero--blue-bar .hero-headline {
  color: $ut-white;
  font-size: 1.6875rem;
  font-weight: 600;
  line-height: 1.25;
}
.ut-hero.hero--blue-bar .hero-subhead {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: .5rem;
}
// stylelint-disable-next-line at-rule-no-unknown
@include screen-mq(md) {
  .ut-hero.hero--blue-bar .hero-headline {
    font-size: 1.9375rem;
  }
  .ut-hero.hero--blue-bar .hero-subhead {
    font-size: 1.25rem;
  }
  .ut-hero .ut-btn--hero {
    font-size: 1rem;
    float: right;
  }
}

/* Medium, floated right image (i.e., Style 5) */
.ut-hero.hero--half-n-half .hero-headline {
  color: $ut-charcoal;
  padding: .625rem 0;
  font-size: 1.6875rem;
  font-weight: 600;
  line-height: 1.25;
}
// stylelint-disable-next-line at-rule-no-unknown
@include screen-mq(md) {
  .ut-hero.hero--half-n-half .hero-headline {
    font-size: 1.9375rem;
  }
}
// stylelint-disable-next-line at-rule-no-unknown
@include screen-mq(lg) {
  .ut-hero.hero--half-n-half .hero-headline {
    font-size: 2.5rem;
  }
}
.ut-hero.hero--half-n-half .ut-btn--secondary {
  align-self: start;
}
