a {
  color: $ut-burntorange;
  text-decoration: none;
}

p a {
  text-decoration: underline;
}

a:link,
a:visited {
  color: $ut-burntorange;
}

a:hover,
a:focus {
  color: $ut-burntorange--s20;
}

a:active {
  color: $ut-burntorange--s10;
}

// UT Links
// Generic link class with semi-bold font and no text-transform.
a.ut-link {
  font-size: inherit;
  letter-spacing: 0.35px;
  // Darker variants provided for when element is placed on gray background
  &--darker {
    color: $ut-burntorange--s20;
  }
}

// ----------
// CTA Links
// Found mostly in Cards but can be used in multiple places.
.ut-cta-link {
  font-size: .825rem;
  font-weight: 700;
  letter-spacing: .35px;

  // Darker variants provided for when element is placed on gray background
  &--darker,
  &--darker:link,
  &--darker:hover,
  &--darker:active,
  &--darker:visited {
    color: $ut-burntorange--s20;
  }

  // stylelint-disable-next-line plugin/no-browser-hacks
  &--darker:focus,
  &--darker:hover, {
    color: $ut-burntorange;
  }

  &--external {
    &::after {
      content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" width="11" height="16" fill="rgb(191, 87, 0)" viewBox="0 0 28 28"><path d="M22 14.5v5c0 2.484-2.016 4.5-4.5 4.5h-13c-2.484 0-4.5-2.016-4.5-4.5v-13c0-2.484 2.016-4.5 4.5-4.5h11c0.281 0 0.5 0.219 0.5 0.5v1c0 0.281-0.219 0.5-0.5 0.5h-11c-1.375 0-2.5 1.125-2.5 2.5v13c0 1.375 1.125 2.5 2.5 2.5h13c1.375 0 2.5-1.125 2.5-2.5v-5c0-0.281 0.219-0.5 0.5-0.5h1c0.281 0 0.5 0.219 0.5 0.5zM28 1v8c0 0.547-0.453 1-1 1-0.266 0-0.516-0.109-0.703-0.297l-2.75-2.75-10.187 10.187c-0.094 0.094-0.234 0.156-0.359 0.156s-0.266-0.063-0.359-0.156l-1.781-1.781c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l10.187-10.187-2.75-2.75c-0.187-0.187-0.297-0.438-0.297-0.703 0-0.547 0.453-1 1-1h8c0.547 0 1 0.453 1 1z"></path></svg>');
      padding-left: rem-calc(5);
      vertical-align: middle;
    }
  }

  &--lock {
    &::after {
      content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" fill="rgb(191, 87, 0)" viewBox="0 0 18 28"><path d="M5 12h8v-3c0-2.203-1.797-4-4-4s-4 1.797-4 4v3zM18 13.5v9c0 0.828-0.672 1.5-1.5 1.5h-15c-0.828 0-1.5-0.672-1.5-1.5v-9c0-0.828 0.672-1.5 1.5-1.5h0.5v-3c0-3.844 3.156-7 7-7s7 3.156 7 7v3h0.5c0.828 0 1.5 0.672 1.5 1.5z"></path></svg>');
      padding-left: rem-calc(5);
      vertical-align: middle;
    }
  }
}

.ut-btn.ut-cta-link {
  &--external {
    &::after {
      content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" width="11" height="16" fill="rgb(255, 255, 255)" viewBox="0 0 28 28"><path d="M22 14.5v5c0 2.484-2.016 4.5-4.5 4.5h-13c-2.484 0-4.5-2.016-4.5-4.5v-13c0-2.484 2.016-4.5 4.5-4.5h11c0.281 0 0.5 0.219 0.5 0.5v1c0 0.281-0.219 0.5-0.5 0.5h-11c-1.375 0-2.5 1.125-2.5 2.5v13c0 1.375 1.125 2.5 2.5 2.5h13c1.375 0 2.5-1.125 2.5-2.5v-5c0-0.281 0.219-0.5 0.5-0.5h1c0.281 0 0.5 0.219 0.5 0.5zM28 1v8c0 0.547-0.453 1-1 1-0.266 0-0.516-0.109-0.703-0.297l-2.75-2.75-10.187 10.187c-0.094 0.094-0.234 0.156-0.359 0.156s-0.266-0.063-0.359-0.156l-1.781-1.781c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l10.187-10.187-2.75-2.75c-0.187-0.187-0.297-0.438-0.297-0.703 0-0.547 0.453-1 1-1h8c0.547 0 1 0.453 1 1z"></path></svg>');
      padding-left: rem-calc(5);
      vertical-align: middle;
    }
  }

  &--lock {
    &::after {
      content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" fill="rgb(255, 255, 255)" viewBox="0 0 18 28"><path d="M5 12h8v-3c0-2.203-1.797-4-4-4s-4 1.797-4 4v3zM18 13.5v9c0 0.828-0.672 1.5-1.5 1.5h-15c-0.828 0-1.5-0.672-1.5-1.5v-9c0-0.828 0.672-1.5 1.5-1.5h0.5v-3c0-3.844 3.156-7 7-7s7 3.156 7 7v3h0.5c0.828 0 1.5 0.672 1.5 1.5z"></path></svg>');
      padding-left: rem-calc(5);
      vertical-align: middle;
    }
  }
}
