//
// Photo Content Area widget.
//

.ut-photo-content-area {
  display: flex;
  flex-direction: column;
  margin-bottom: rem-calc(20);
  // stylelint-disable at-rule-no-unknown
  @include screen-mq(sm) {
    flex-direction: row;
    margin-bottom: rem-calc(40);
  }

  .photo-wrapper {
    margin-bottom: rem-calc(10);
    @include screen-mq(sm) {
      flex: 0 0 50%;
      text-align: center;
    }

    .caption {
      font-style: italic;
      font-size: 0.875rem;
      line-height: 1.25;
      margin: auto;
      text-align: left;
      @include screen-mq(sm) {
        max-width: 80%;
      }
    }
  }

  .content-wrapper {
    @include screen-mq(sm) {
      flex: 0 0 50%;
    }
  }

  .ut-headline {
    margin-bottom: rem-calc(10);
  }

  ul.link-list {
    @include list-style-none;

    li {
      margin-bottom: rem-calc(10);
    }
  }

  // Texas Design System edits - replacing .image class with img.
  // stylelint-disable
  .photo-wrapper {
    img {
      @include screen-mq(sm) {
        max-width: 80%;
      }
    }
  }
  .content-wrapper {
    h3 {
      padding-top: 0;
    }
  }
}
