//
// Card style promo unit
//

// ----------
// Component SASS
.utexas-promo-unit {
  background-color: $ut-shade--t20;
  border: 1px solid $ut-limestone--t40;
  display: flex;
  margin-bottom: .75rem;
  padding: .75rem;
  // stylelint-disable-next-line at-rule-no-unknown
  @include screen-mq(md) {
    margin-bottom: 1rem;
    padding: 1rem;
  }
  // stylelint-disable-next-line at-rule-no-unknown
  @include screen-mq(lg) {
    margin-bottom: 1.25rem;
    padding: 1.25rem;
  }

  .image-wrapper {
    margin-bottom: .75rem;
    margin-right: 1rem;
    // stylelint-disable-next-line at-rule-no-unknown
    @include screen-mq(lg) {
      margin-right: 1.25rem;
    }

    &.landscape-image {
      flex: 0 0 106px;
      // stylelint-disable-next-line at-rule-no-unknown
      @include screen-mq(md) {
        flex: 0 0 176px;
      }
      // stylelint-disable-next-line at-rule-no-unknown
      @include screen-mq(lg) {
        flex: 0 0 220px;
      }
    }
    &.portrait-image {
      flex: 0 0 72px;
      // stylelint-disable-next-line at-rule-no-unknown
      @include screen-mq(md) {
        flex: 0 0 120px;
      }
      // stylelint-disable-next-line at-rule-no-unknown
      @include screen-mq(lg) {
        flex: 0 0 150px;
      }
    }
    &.square-image {
      flex: 0 0 67px;
      // stylelint-disable-next-line at-rule-no-unknown
      @include screen-mq(md) {
        flex: 0 0 112px;
      }
      // stylelint-disable-next-line at-rule-no-unknown
      @include screen-mq(lg) {
        flex: 0 0 140px;
      }
    }
  }
  p {
    margin-bottom: .75rem;
  }
}

// Sidebar display overrides.
.utexas-promo-unit--wrapper.sidebar-display {
  // stylelint-disable-next-line at-rule-no-unknown
  @include screen-mq(md) {
    .utexas-promo-unit {
      flex-direction: column;
    }
    .image-wrapper {
      flex: 0 0 100%;
      margin-right: 0;
    }
    .ut-img--fluid {
      margin-bottom: .75rem;
      width: 100%;
    }
  }
}
