//
// Promo List widget styles
//

// ----------
// Component SCSS

.ut-promo-list-wrapper .promo-list {
  .ut-headline {
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 500;
  }
  a > .ut-headline {
    color: $ut-burntorange;
  }
}
