//
// Resources Theme File
//

// Resource widget from Drupal Kit.

.utexas-resource {
  display: flex;
  margin: 0 0 rem-calc(20) 0;
  background-color: $ut-limestone--t20;
  border: 1px solid $ut-limestone--t40;
  flex-direction: column;
  // stylelint-disable-next-line at-rule-no-unknown
  @include screen-mq(md) {
    flex-direction: row;
  }

  .image-wrapper {
    flex: 0 0 50%;
    .ut-img--fluid {
      width: 100%;
      height: auto;
    }
  }
  .data-wrapper {
    flex: 0 0 50%;
    padding: rem-calc(20);
  }
  .link-list {
    // stylelint-disable-next-line at-rule-no-unknown
    @include list-style-none;

    margin-bottom: 0;
    li {
      padding-bottom: rem-calc(9);
    }
  }
}

// Drupal Kit overrides
// stylelint-disable-next-line
.utexas-resource {
  .ut-headline {
    padding-top: 0;
    padding-bottom: rem-calc(10);
  }
  picture img {
    width: 100%;
  }
}
