// ----------
// Charis Sil

// Regular
@font-face {
  font-family: "CharisSil";
  src: url('../fonts/charissil/charissil-r.woff') format('woff'), url('../fonts/charissil/charissil-r.woff2') format('woff2'), url('../fonts/charissil/charissil-r.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
