//
// Utility classes
//

// ----------
// Headline Extension
// This is used to build out the header text styles on any content element.
%ut-headline {
  color: $ut-charcoal;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.625;
  margin: 0 0 0.5rem;
  // stylelint-disable-next-line at-rule-no-unknown
  @include screen-mq(md) {
    font-size: 1.125rem;
    line-height: 1.625;
    margin: 0 0 0.5rem;
  }
  // stylelint-disable-next-line at-rule-no-unknown
  @include screen-mq(lg) {
    font-size: 1.25rem;
    line-height: 1.6875;
  }
}

// -----------
// Headline Text Default
// Typical use as the headline field on component instances
.ut-headline {
  // stylelint-disable-next-line at-rule-no-unknown
  @extend %ut-headline;
}

// ----------
// Headline with underline
.ut-headline--underline {
  // stylelint-disable-next-line at-rule-no-unknown
  @extend %ut-headline;

  border-bottom: 2px solid $ut-bluebonnet;
  margin: 0 0 1.25rem;
  padding-bottom: 0.5rem;
}

// ----------
// Poster Headers aka. LARGE BLOCK TEXT
.ut-headline--poster {
  font-size: 2.0625rem;
  line-height: 0.925;
  font-weight: 900;
  text-transform: uppercase;
  // stylelint-disable-next-line at-rule-no-unknown
  @include screen-mq(md) {
    font-size: 3.0625rem;
  }
}

// ---------
// Copy text
.ut-copy {
  font-size: 1rem;
  line-height: 1.375;
  &:after {
    display: block;
    clear: both;
    content: "";
  }
}
.block-bundle-basic .ut-copy {
  line-height: 1.5625;
}

// ----------
// Fluid Width Image class
.ut-img--fluid {
  // stylelint-disable-next-line at-rule-no-unknown
  @include img-fluid;
}
