
//
// Utility classes
//

// ---------
// Copy text
.ut-copy {
  &:after {
    display: block;
    clear: both;
    content: "";
  }
}

// ----------
// Fluid Width Image class
.ut-img--fluid {
  // stylelint-disable-next-line at-rule-no-unknown
  @include img-fluid;
}
